* {
  margin: 0;
  padding: 0;
}

body {
  letter-spacing: 0.0625em;
}

nav {
  min-height: 3.5rem;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.navbar-brand {
  color: rgba(255, 255, 255, 0.5) !important;
  font-weight: 700;
}

.nav-link {
  padding: 2rem 1.5rem !important;
  color: rgba(255, 255, 255, 0.5) !important;
}

.nav-link:hover {
  color: white !important;
}

.masthead {
  width: 100%;
  min-height: 35rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), color-stop(75%, rgba(0, 0, 0, 0.7)), to(#000)), url("../img/bg-masthead.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead__section {
  min-height: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.masthead__section h1 {
  font-size: 7rem;
  line-height: 6.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.masthead__section h2 {
  max-width: 30rem;
  font-size: 1.25rem;
}

.masthead__section a {
  background-color: #64a19d;
  border: none;
  padding: 1rem 2rem;
  font-size: 100%;
  letter-spacing: 0.15rem;
}

.masthead__section a:hover {
  background-color: #588d89;
}
