@import "../Sass/components.scss";
@import "./responsive.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    display: flex;
    justify-content: center;
    font-family: fantasy;
    overflow-x: hidden;
}
.container{
    width: 100%;
    height: 100vh;
}
// header----------------
header{
    width: 100%;
    height: 9.5625rem;
    display: flex;
    padding-left: 11.9375rem;
    padding-right: 12rem;
    align-items: center;
    
    .logo{
        width: max-content;
        height: 2.5625rem;
        display: flex;
        align-items: center;
        margin-right: 32rem;
        cursor: pointer;
        &__round{
            width: 2.5625rem;
            height: 2.5625rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color;
            color: white;
            font-weight:Bold;
            font-size: 1.625rem;
            padding: 0.125rem 0.8125rem 0 0.8125rem;
            
        }
        &__text{
            width: 6.6875rem;
            height: 1.875rem;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.8825rem;
            color: #233348;
            margin-left: 0.75rem;
            
        }

    }
.fa-bars{
    display: none;
}
.fa-times{
    display: none;
}
    .menu{
        width: max-content;
        height: max-content;
        &__active a{
            font-size:1.125rem;
            opacity: 1 !important;
            color: #1F1534;
            line-height: 1.4375rem;
            font-weight: bold;
        }
        ul{
            width:34.0625rem;
            height: inherit;
            list-style: none;
            display: flex;
            justify-content: space-between;
            li{
                position: relative;
                width: max-content;
                height: max-content;
                a{
                font-size: 1.125rem;
                opacity: 50%;
                color: #1F1534;
                line-height: 1.4375rem;
                position: relative;
                text-decoration: none;
                }
                span{
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: $color;
                    transform: scaleX(0);
                    transition: transform 0.5s;
                    transform-origin: right;
                    opacity: 150%;
                }

                &:hover {
                    cursor: pointer;
                    span{
                        transform: scaleX(1);
                        transition: transform 0.5s;
                        transform-origin: left;
                        }
                }
            }
        }

    }
}
// /////////////////////////////////////
// virtual-----------------------------------
.virtual{
    width: 100%;
    height: 37.375rem;
    height: max-content;
    display: flex;
    padding:1.5rem 10.1875rem 0 11.875rem;
    align-items: center;
    position: relative;
    &__text{
        width: 27.8125rem;
        height: max-content;
        h1{
            width: 26.6875rem;
            height:7rem;
            font-weight: bold;
            font-size: 3rem;
            line-height: 3.5rem;
            color: black;
            cursor: pointer;
        }
        >p{
            width: 27.8125rem;
            height: 6rem;
            font-size: 1.3125rem;
            line-height: 2rem;
            color: #7D7987;
            margin-top:1.5625rem;
            
        }

        .btn{
            
            display: flex;
            justify-content: center;
            background-color: $color;
            margin-top: 3rem;
            &:hover{
                cursor: pointer;
                background-color: $color-dark;
            }
            p{
                height: 100%;
                width: 100%;
                font-weight: bold;
                font-size: 1rem;
                line-height: 3.75rem;
                color: white;
                display: flex;
                align-items:center;
                justify-content: center;
            }
        }
    }

    &__picture{
        width: 43.312rem;
        height: 37.375rem;
        margin-left: 6.812rem;
        background-size: cover;
        background-image: url("../img/trafalgar-header\ illustration\ 1.jpg");
    }

    .dots{
        top: 1.125rem;
        left: 0;
    }

}
// ///////////////////////////////
// services//////////////////////
.services{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
    &__text{
        width: 59.5rem;
        height: max-content;
        margin-left: 20.187rem;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 2.25rem;
            font-weight: bold;
            line-height: 3.5rem;
        }
        span{
            display: inline-block;
            width: 3.5rem;
            height: 2px;
            background-color: black;
            border-radius: 5px;
            margin-top: 1.625rem;
        }
        p{
            width:59.5rem;
            height: 3.75rem;
            font-weight: 18.75rem;
            font-size: 1.125rem;
            line-height:1.875rem;
            text-align: center;
            color: #7D7987;
            margin-top:2.0625rem;
        }
    }

    &__items{
        width:70rem;
        height: max-content;
        display: flex;
        justify-content:space-between ;
        align-items: space-between;
        flex-wrap: wrap;
        margin-left:15rem;
        margin-top: 5rem;
        position: relative;
        .dots{
            width: 7.6rem !important;
            top:36.2%;
            right: -4%;
            z-index: -5;
        }
        .vector{
            width: 47.8125rem;
            height: 38.6875rem;
            position: absolute;
            top: -2.5rem;
            left: -15rem;
            z-index: -5;
        }
        &__item{
            width: 21.875rem;
            height: 22.125rem;
            border-radius: 20px;
            box-shadow:0.63rem 2.5rem 3.125rem 0px rgba(229, 233, 246, 0.4);  
            background-color: white;
            margin-bottom:2.312rem;
            padding-left: 2.437rem;
            
            h2{
                width: max-content;
                height: 3.5rem;
                font-weight: bold;
                font-size: 1.5rem;
                line-height:3.5rem;
            }
            p{
                width: 16.625rem;
                height: 5.25rem;
                font-size: 1rem;
                line-height: 1.75rem;
                color: #7D7987;
                text-align: start;
            }
        }

        .img1{
            width: 5.74875rem;
            height: 5.625rem;
            margin-bottom: 1.4rem;
            margin-top: 3.375rem;
        }
        .img2{
            width: 3.87rem;
            height: 5.316rem;
            margin-bottom: 1.213rem;
            margin-top:3.89rem;
        }
        .img3{
            width: 3.69rem;
            height: 5.938rem;
            margin-bottom: 1.525rem;
            margin-top: 3.19375rem;
        }
        .img4{
            width: 3.741rem;
            height: 5.170rem;
            margin-bottom: 1.899rem;
            margin-top: 3.331rem;
        }
        .img5{
            width: 5.170rem;
            height: 4.282rem;
            margin-bottom: 2.268rem;
            margin-top: 3.6875rem;
        }
        .img6{
            width: 4.338rem;
            height: 5.94rem;
            margin-bottom: 1.211rem;
            margin-top: 3.25rem;
        }
    }
    .btn{
        margin-left: 44%;
    }
}

// -------------------------
// healthcare////////////////
.healthcare{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    padding: 13.75rem 0 0 8.4375rem;
    position: relative;
    &__pic{
        width: 40.625rem;
        height: 29.8125rem;
        background-size: cover;
    }
    .trafalgar__text{
        margin-left: 8.875rem;
    }
    i{
        margin-left: 0.9243rem;
    }
    .dots{
        right: 0;
        top: -15.0625rem;
        z-index: 999999;
    }
}
// ////////////////////////////
// testimponial//////////////////@
.testimonial{
    width: 70rem;
    height: 26.5625rem;
    border-radius: 24px;
    background-image: linear-gradient(#67C3F3,#5A98F2);
    margin: 16.625rem 0 0 15.125rem;
    padding:4rem 7.375rem 5.5625rem 7.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &__head{
        width: 32.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            width: 32.625rem;
            height: 3rem;
            font-weight: bold;
            font-size: 2.25rem;
            line-height: 3rem;
            color: #FFFFFF;
        }
        span{
            width: 3.5rem;
            height: 2px;
            border-radius: 6px;
            background-color: #FFFFFF;
            margin-top: 1.5625rem;
        }
    }
    &__main{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 4.125rem;
        &__author{
            display:flex;
            justify-content: space-between;
            width: 22.125rem;
            height: max-content;
            img{
                width:8.8125rem ;
                height: 8.8125rem;
                border-radius: 50%;
                margin-right: 1.8125rem;
            }
            &__state{
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                    width: 11.5rem;
                    height: 3rem;
                    font-weight: bold;
                    font-size: 1.375rem;
                    line-height:3rem;
                    color: #FFFFFF;
                    margin-bottom: -0.625rem;
                }
                p{
                    width: 7.4375rem;
                    height: 3rem;
                    font-size: 1.125rem;
                    line-height: 3rem;
                    color: rgba(255, 255, 255, 0.85);
                    
                    
                }
            }
        }
        &__text{
            width: 26.25rem;
            height: 7.5rem;
            font-size: 1.1875rem;
            line-height: 1.875rem;
            color: rgba(255, 255, 255, 0.9);
        }
    }

    .pagination{
        width: 20.875rem;
        height: max-content;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: -2.9375rem;
        .dots{
            position: static;
            width: 5.875rem;
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            .dot:first-child{
                background-color: $color !important;
                background-image: unset;
            }
        }
        i{
            display:inline-block;
            
            font-size:1.625rem;
            padding-bottom: 0.3125rem;
            &:nth-child(1){
                color: lighten($color: $color, $amount:15%);
            }
            &:last-child{
                color:$color;
            }
        }

    }
    // ////////////

    .dots__left{
        bottom: 10%;
        left: -4%;
        z-index: -5;
    }
    .dots__right{
        top: 2%;
        right: 1%;
        
    }
}
// ///////////////////////////////
//ARTICLES-------------------------------
.articles{
    width: calc(100% - 11.9375rem);
    height: 50.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17.375rem;
    margin-left: 11.9375rem;
    position: relative;
    h1{
        width: 28.875rem;
        height: 3.5rem;
        font-weight: bold;
        font-size:2.1875rem;
        line-height: 3.5rem;
        color: #000000;
        margin-top:0.375rem;
        margin-right: 20%;
    }
    >span{
        display: inline-block;
        width:3.5rem;
        height: 2px;
        background-color: black;
        border-radius: 5px;
        margin-top: 1.625rem;
        margin-bottom: 4.5rem;
        margin-right: 20%;
    }
    .articles__wrapper{
        width: 100%;
        height: max-content;
        display: flex;
        &__item{
            width: 21.875rem;
            height: 32rem;
            box-shadow: 0.625rem 2.5rem 3.125rem 0px rgba(229, 233, 246, 0.4);
            border-radius: 1.25rem;
            overflow: hidden;
            margin-right: 2.125rem;
            background-color: white;
            img{
                width: 23.0625rem;
                height: 15.375rem;
                background-size: cover;
            }
        
        }
        &__text{
            padding-left: 2.0625rem;
            h3{
                width: 15.6875rem;
                height: 4rem;
                font-weight: bold;
                font-size: 1.3125rem;
                line-height: 2rem;
                color: #000000;
                margin-top:1.5625rem;
            }
            p{
                width: 16.625rem;
                height: 5.25rem;
                font-size: 1rem;
                line-height: 1.75rem;
                color: #7D7987;
                margin-top: 0.75rem;
            }
            span{
                width: 16.625rem;
                height: 1.75rem;
                font-size: 1.0625rem;
                line-height: 1.75rem;
                color: $color;
                display: flex;
                margin-top: 1.5625rem;
                align-items: center;
                cursor: pointer;
                i{
                    margin-left: 0.9375rem;
                    padding-top: 0.125rem;
                }
            }
        }
    }
    .btn{
        margin-right: 20%;
        margin-top: 4.5rem;
        p{
            font-size: 1.125rem;
            line-height: 3.75rem;
        }
    }
    // //
    .vector_2{
        width: 29.875rem;
        height: 32.25rem;
        position: absolute;
        top: 10%;
        right: 0;
        z-index: -5;
    }

    .dots{
        
            width:7.6rem !important;
            top:14%;
            left: -3.5%;
            z-index: -5;
        
    }

}

// ////////////////////////////
// footer/////////////////////
.footer{
    width: 100%;
    height: 27rem;
    background-image: linear-gradient(#67C3F3,
    #5A98F2);
    padding: 7.375rem 13.375rem 7.0625rem 11.875rem;
    display: flex;
    justify-content: space-between;
    margin-top: 12.5625rem;
    position: relative;
    .flex{
        display: flex;
    }
    &__text{
        width: 24.4375rem;
        height: 12.5625rem;
        display: flex;
        flex-direction: column;
        .logo{
            width: max-content;
            height: 2.5625rem;
            display: flex;
            align-items: center;
            margin-right: 32rem;
            cursor: pointer;
            &__round{
                width: 2.5625rem;
                height: 2.5625rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #FFFFFF;
                color: $color;
                font-weight:Bold;
                font-size: 1.625rem;
                padding: 0.125rem 0.8125rem 0 0.8125rem;
                
            }
            &__text{
                width: 6.6875rem;
                height: 1.875rem;
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 1.8825rem;
                color:#FFFFFF;
                margin-left: 0.75rem;
                
            }
    
        }

        h4{
            width: 24.4375rem;
            height: 5.25rem;
            font-size: 1.125rem;
            line-height: 1.75rem;
            color: #FFFFFF;
            margin-top: 1.0625rem;
            font-weight: lighter;
        }

        p{
            width: 24.4375rem;
            height: 1.75rem;
            color: #FFFFFF;
            font-size: 1rem;
            line-height: 1.75rem;
            margin-top: 1.9375rem;
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        
        h3{
            width: 5.75rem;
            height: 3.75rem;
            color: #FFFFFF;
            font-size: 1.25rem;
            line-height: 3.75rem;
            font-weight: bold;
        }
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            height: 9.5rem;
            width: max-content;
            li{
                font-size: 1.125rem;
                line-height: 2.375rem;
                color: #FFFFFF;
                font-weight: lighter;
            }
        }
    }

    .dots__right{
        transform: rotate(90deg);
        top: -25%;
        right: 7%;
    }

    .dots__left{
        width: 6.3125rem;
        
        bottom: 1%;
        left: 0.5%;
    }
}



