.services__card {
  width: 30vw;
  height: 39rem;
  background: #262626;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__card:hover .services__icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.services__card .services__icon {
  font-size: 6rem;
  margin-bottom: 4rem;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.services__card h2 {
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 10px;
}

.services__card p {
  color: #777;
  line-height: 1.7;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.services__card span {
  display: inline-block;
  text-align: center;
  color: #20c997;
  font-size: 17px;
  font-weight: 700;
}

@media only screen and (max-device-width: 997px) {
  .services__card {
    width: 47vw;
    height: 39rem;
  }
}

@media only screen and (max-device-width: 780px) {
  .services__card {
    width: 90%;
    height: 40rem;
    margin: 0 auto;
  }
}

@media only screen and (max-device-width: 350px) {
  .services__card {
    width: 98%;
    height: 40rem;
    margin: 0 auto;
  }
  .services__card h2 {
    font-size: 16px;
  }
}
