<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/columns.css">
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
<!-- ----------------------------------- -->
<script src="https://kit.fontawesome.com/3113ae62d0.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container info">
        <div class="col-2 info__contact"><a href="#"><i class="fas fa-phone"></i>Call: +0123 456 789</a></div>
        <div class="col-3 info__links">
            <span class="info__links__currency">USD<i class="fas fa-chevron-down"></i>
            <ul >
                <li>EUR</li>
                <li>USD</li>
            </ul>
            </span>
            <span class="info__links__lang">English<i class="fas fa-chevron-down"></i>
            <ul>
                <li>ENGLISH</li>
                <li>FRENCH</li>
                <li>SPANISH</li>
            </ul>
            </span>
            <span class="info__links__sign"><a href="#"> Sign in/Sign up</a></span>
        </div>
    </div>
<!-- /////////////////// -->

<header class="header">
    <div class="logo"></div>
    <form action=""><div class="header__search">
        <div class="header__search__option">
            <p>All Departments</p><i class="fas fa-chevron-down"></i>

            <ul class="dropdown">
                <li>All Departments</li>
                <li>Fashion</li>
                <ul>
                    <li>Women</li>
                    <li>Man</li>
                    <li>Jewelry</li>
                    <li>Kids Fashion</li>
                </ul>
                <li>Electronics</li>
                <ul>
                    <li>Smart TVs</li>
                    <li>Cameras</li>
                    <li>Games</li>
                </ul>
                <li>Home & Garden</li>
                <li>Motors</li>
                
                <ul>
                    <li>Cars & Trucks</li>
                    <li>Boats</li>
                    <li>Auto tools & Supplies</li>
                </ul>
            </ul>
            
        </div>
        <input class="header__search__text" placeholder="Search product...">
        <button class="button__search"><i class="fas fa-search"></i></button>

    </div></form>



    <div class="header__items">
        <div class="header__items__item"><i class="fas fa-random"></i><p>Compare</p></div>
        <div class="header__items__item"><i class="far fa-heart"></i><p>Wishlist</p></div>
        <div class="header__items__item"><i class="fas fa-shopping-cart"></i><p>Cart</p></div>
    </div>
</header>

<div class="container navbar">
    <div class=" col-3 navbar__categories"><i class="fas fa-bars"></i>Browse Categories
    
    <ul class="navbar__ul bgcol">
        <li><p> <i class="fas fa-laptop"></i>Electronics</p><i class="fas fa-chevron-right"></i></li>
        <li><p><i class="fas fa-couch"></i>Furniture</p> <i class="fas fa-chevron-right"></i></li>
        <li><p><i class="fas fa-cookie"></i> Cooking</p> <i class="fas fa-chevron-right"></i></li>
        <li><p><i class="fas fa-tshirt"></i>Clothing</p> <i class="fas fa-chevron-right"></i></li>
        <li><p><i class="fas fa-blender-phone"></i>Home Appliances</p> </li>
        <li><p><i class="fas fa-heartbeat"></i>Healthy & Beauty</p> </li>
        <li><p><i class="fas fa-shoe-prints"></i>Shoes & Boots</p> </li>
        <li><p><i class="fas fa-road"></i>Travel & Outdoor</p> </li>
        <li><p><i class="fas fa-mobile-alt"></i> Smartphones</p> </li>
        <li><p><i class="fas fa-tv"></i>TV & Audio</p> </li>
        <li><p><i class="fas fa-shopping-bag"></i>Backpack & Bag</p> </li>
        <li><p><i class="fab fa-itunes-note"></i>Musical Instruments</p> </li>
        <li><p><i class="fas fa-gift"></i> Gift Ideas</p> </li>
    </ul>
    
    </div>


    <div class="col-6 navbar__menu">
        <ul>
            <li class="navbar__menu__active">HOME<i class="fas fa-chevron-down"></i>
            
            <div class="navbar__menu__home bgcol">
                <p>CHOOSE YOUR DEMO</p>
                <ul>
                    <li><div style="background-image: url(https://portotheme.com/html/molla/assets/images/menu/demos/1.jpg); "></div><p>01 - furniture store</p></li>
                    <li><div style="background-image: url(https://portotheme.com/html/molla/assets/images/menu/demos/2.jpg);"></div><p>02 - furniture store</p></li>
                    <li><div style="background-image: url(https://portotheme.com/html/molla/assets/images/menu/demos/3.jpg);"></div><p>03 - electronic store</p></li>
                    <li><div style="background-image: url(https://portotheme.com/html/molla/assets/images/menu/demos/4.jpg);"></div><p>04 - electronic store</p></li>
                    <li><div style="background-image: url(https://portotheme.com/html/molla/assets/images/menu/demos/5.jpg);"></div><p>05 - fashion store</p></li>
                    <li><div style="background-image: url(https://portotheme.com/html/molla/assets/images/menu/demos/6.jpg);"></div><p>06 - fashion store</p></li>
                    <li><div style="background-image: url(https://portotheme.com/html/molla/assets/images/menu/demos/7.jpg);"></div><p>07 - fashion store</p></li>
                    <li><div style="background-image: url(https://portotheme.com/html/molla/assets/images/menu/demos/8.jpg);"></div><p>08 - fashion store</p></li>
                    <li><div style="background-image: url(https://portotheme.com/html/molla/assets/images/menu/demos/9.jpg);"></div><p>09 - fashion store</p></li>
                    <li><div style="background-image: url(https://portotheme.com/html/molla/assets/images/menu/demos/10.jpg);"></div><p>10 - shoes strore</p></li>
                </ul>
                <button>View All Demos<i class="fas fa-long-arrow-alt-right"></i></button>
            </div></li>
            <!--  -->
            <li class="shop">SHOP<i class="fas fa-chevron-down"></i>
                <div class=" navbar__menu__shop bgcol">
                    <div class="navbar__menu__shop__row">
                        <div class="navbar__menu__shop__row__column">
                            <h4>Shop With Sidebar</h4>
                            <p>Shop List</p>
                            <p>Shop Grid 2 Columns</p>
                            <p>Shop Grid 3 Columns</p>
                            <p>Shop Grid 4 Columns</p>
                            <p>Shop Market</p>
                            <h4>Shop No Sidebar</h4>
                            <p>Shop Boxed No Sidebar</p>
                            <p>Shop Fullwidth No Sidebar</p>
                        </div>


                        <div class="navbar__menu__shop__row__column">
                                <h4>Product Category</h4>
                                <p>Product Category Boxed</p>
                                <p>Product Category Fullwidth</p>
                                <h4>Shop Pages</h4>
                                <p>Cart</p>
                                <p>Checkout</p>
                                <p>Wishlist</p>
                                <p>My Account</p>
                                <p>Lookbook</p>
                        </div>

                        <div class="navbar__menu__shop__row__pic">

                        </div>
                    </div>
                </div>
            </li>
            <!--  -->
            <li class="product">PRODUCT<i class="fas fa-chevron-down"></i>
                    <div class="navbar__menu__product bgcol">
                        <div class="navbar__menu__product__row">
                            <div class="navbar__menu__product__row__column">
                                    <h4>Product Details</h4>
                                    <p>Default</p>
                                    <p>Centered</p>
                                    <p>Extended Info</p>
                                    <p>Gallery</p>
                                    <p>Sticky Info</p>
                                    <p>Boxed With Sidebar</p>
                                    <p>Full Width</p>
                                    <p>Masonry Sticky Info</p>
                            </div>   
                            
                            <div class="navbar__menu__product__row__pic">
                                
                            </div> 
                         </div>
                    </div>
            </li>


            <li class="pages">PAGES<i class="fas fa-chevron-down"></i>
                <div class="navbar__menu__pages bgcol">
                    <ul>
                        <li class="about">About<i class="fas fa-chevron-right"></i>
                            <ul class="about__dropdown bgcol">
                                <li>About 01</li>
                                <li>About 02</li>
                            </ul>
                        </li>
                        
                        <li class="contact">Contact<i class="fas fa-chevron-right"></i>
                        <ul class="contact__dropdown bgcol">
                            <li>Contact 01</li>
                            <li>Contact 02</li>
                        </ul></li>
                        <li>Login</li>
                        <li>FAQs</li>
                        <li>Error 404</li>
                        <li>Coming Soon</li>
                    </ul>
                </div>
            </li>
            <li class="blog">BLOG<i class="fas fa-chevron-down"></i>
                    <ul class="bgcol">
                        <li>Classic</li>
                        <li>Listing</li>
                        <li>Grid</li>
                        <li>Masonry</li>
                        <li>Mask</li>
                        <li>Single Post</li>
                    </ul>
            </li>


            <li class="element">ELEMENTS<i class="fas fa-chevron-down"></i>
                    <ul class="bgcol">
                        <li>Products</li>
                        <li>Typography</li>
                        <li>Banners</li>
                        <li>Titles</li>
                        <li>Video Banners</li>
                        <li>Buttons</li>
                        <li>Accordions</li>
                        <li>Tab</li>
                        <li>Testimonials</li>
                        <li>Blog Posts</li>
                        <li>Posrtfolio</li>
                        <li>Call to Action</li>
                       
                    </ul>
            </li>
        </ul>
    </div>


    <div class="col-3 navbar__discount">
        <i class="fas fa-lightbulb"></i>
        <p>Clearance Up to 30% Off</p>
    </div>
</div>


<div class="container discover">
        <div class="discover__slider">
            <p>New Arrivals</p>
            <h1>The New Way to buy Furniture</h1>
            <h3>Spring Collections 2019</h3>
            <button>DISCOVER NOW<i class="fas fa-long-arrow-alt-right"></i></button>
        </div>
</div>


<div class="container main">
    <!-- left------------------------------------- -->
        <div class="col-3 main__left">
                <div class="main__left__sofas">
                    <h1>Maximum Comfort</h1>
                    <h3>Sofas-20% Off</h3>
                    <button class="btn_shop"><p>SHOP NOW</p><i class="fas fa-long-arrow-alt-right"></i></button>
                </div>

                <div class="bestseller">
                    <h4>Bestsellers</h4>
                    <div class="bestseller__items">
                        <div class="bestseller__items__item">
                            <img src="https://portotheme.com/html/molla/assets/images/demos/demo-14/products/small/product-1.jpg" alt="">
                            <div class="product_body">
                                <div>Sceptre 50" Class FHD (1080P) LED TV</div>
                                <div class="gold">$199.99</div>
                            </div>
                        </div>
                        <div class="bestseller__items__item">
                            <img src="https://portotheme.com/html/molla/assets/images/demos/demo-14/products/small/product-2.jpg" alt="">
                            <div class="product_body">
                                <div>Red Cookware Set, 9 Piece</div>
                                <div class="gold">$24.95</div>
                            </div>
                        </div>
                        <div class="bestseller__items__item">
                            <img src="https://portotheme.com/html/molla/assets/images/demos/demo-14/products/small/product-3.jpg" alt="">
                            <div class="product_body">
                                <div>Epson WorkForce WF-2750 All-in-One Wireless</div>
                                <div class="gold">$49.99</div>
                            </div>
                        </div>
                        <div class="bestseller__items__item">
                            <img src="https://portotheme.com/html/molla/assets/images/demos/demo-14/products/small/product-4.jpg" alt="">
                            <div class="product_body">
                                <div>Stainless Steel Microwave Oven</div>
                                <div class="gold">$64.84</div>
                            </div>
                        </div>
                        <div class="bestseller__items__item">
                            <img src="https://portotheme.com/html/molla/assets/images/demos/demo-14/products/small/product-5.jpg" alt="">
                            <div class="product_body">
                                <div>Fatboy Original Beanbag</div>
                                <div class="gold">$49.99</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="offer">
                    <h2>Special offer</h2>
                    <div class="swiper-slide__product pr">
                        <div class="swiper-slide__product__media ml15" style=" background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/products/deals/product-1.jpg');"></div>
                        <div class="swiper-slide__product__body">
                            <p>Audio</p>
                            <h5>Bose SoundLink Micro speaker</h5>
                            <div><div class="dollar">$99.99</div><span>Was $110.99</span></div> 
                         <div> <div class="star-val">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                           </div><span class="star-text">( 4 Rewiews )</span></div> 
                        </div>
                        <button class="btn-cart"><i class="fas fa-cart-plus"></i>Add To Cart</button>
                        <div class="countdown_2"></div>
                        <!-- repeated icons------------------------------- -->
                        <div class="repeated_icons">
                            <div class="ic_circle"><i class="fas fa-heart"></i></div>
                            <div class="ic_circle"><i class="fas fa-glasses"></i></div>
                            <div class="ic_circle"><i class="fas fa-random"></i></div>
                        </div>
                        <!-- repeated icons------------------------------- -->
                    </div>
                </div>

                <div class="swiper-slide__product pr">
                    <div class="swiper-slide__product__media ml15" style=" background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/products/deals/product-2.jpg');"></div>
                    <div class="swiper-slide__product__body">
                        <p>Cameras</p>
                        <h5>GoPro HERO Session Waterproof HD Action Camera</h5>
                        <div><div class="dollar">$196.99</div><span>Was $210.99</span></div> 
                     <div> <div class="star-val">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                       </div><span class="star-text">( 4 Rewiews )</span></div> 
                    </div>
                    <button class="btn-cart"><i class="fas fa-cart-plus"></i>Add To Cart</button>
                    <div class="countdown_2"></div>
                    <!-- repeated icons------------------------------- -->
                    <div class="repeated_icons">
                        <div class="ic_circle"><i class="fas fa-heart"></i></div>
                        <div class="ic_circle"><i class="fas fa-glasses"></i></div>
                        <div class="ic_circle"><i class="fas fa-random"></i></div>
                    </div>
                    <!-- repeated icons------------------------------- -->
                </div>
                <div class="main__left__sofas" style="padding: 11% 10%; align-items: flex-start;background-image: url(https://portotheme.com/html/molla/assets/images/demos/demo-14/banners/banner-12.jpg);">
                    <h1>Take Better Photos</h1>
                    <h3>With <span style="font-weight: bold;">Canon EOS</span> 
                        Up To 20% Off</h3>
                    <button class="btn_shop"><p>SHOP NOW</p><i class="fas fa-long-arrow-alt-right"></i></button>
                </div>

                <!-- ------ -->
                <div class="post">
                    <span>Latest Blog Posts</span>
                    <img src="https://portotheme.com/html/molla/assets/images/demos/demo-14/blog/post-1.jpg" alt="">
                    <p>Nov 22,2018, 0 Comments</p>
                    <div class="meta">Sed Adipiscing Ornare</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet amet quo, odit officiis natus magnam</p>
                    <div class="readmore"><span>Read More<i class="fas fa-long-arrow-alt-right"></i></span></div>
                </div>

        </div>

        

<!-- right----------------------------------------------- -->
        <div class="col-9 main__right">
            <div class="main__right__detax">
                <div class="main__right__detax__div" style="background-image: url(https://portotheme.com/html/molla/assets/images/demos/demo-14/banners/banner-2.jpg);">
                    <p>Hottest Deals</p>
                    <h1>Detox and Beautify for Spring</h1>
                    <h3>Up To 20% Off</h3>
                    <button class="btn_shop"><p>SHOP NOW</p><i class="fas fa-long-arrow-alt-right"></i></button>
                </div>
                <div class="main__right__detax__div" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/banners/banner-3.png');">
                    <p>Deal of the Day</p>
                    <h1>Headphones</h1>
                    <h3>Up to 30% Off</h3>
                    <button class="btn_shop"><p>SHOP NOW</p><i class="fas fa-long-arrow-alt-right"></i></button>

                </div>
            </div>

            <div class="main__right__logos">
                <img src="https://portotheme.com/html/molla/assets/images/brands/1.png" alt="">
                <img src="https://portotheme.com/html/molla/assets/images/brands/2.png" alt="">
                <img src="https://portotheme.com/html/molla/assets/images/brands/3.png" alt="">
                <img src="https://portotheme.com/html/molla/assets/images/brands/4.png" alt="">
                <img src="https://portotheme.com/html/molla/assets/images/brands/5.png" alt="">
            </div>

            <div class="firstslider">
                    <div class="firstslider__heading">
                            <h2>Trending Today</h2>
                            <ul>
                                <li>All</li>
                                <li>Electronics</li>
                                <li>Furniture</li>
                                <li>Clothes</li>
                                <li>Accessories</li>
                            </ul>

                    </div>
                    <div class="owl-carousel glide">
                        
                          
                            <div class="item swiper-slide">

                                <!-- slide with red------------------------------ -->
                                <div class="swiper-slide__product">
                                    <div class="swiper-slide__product__media ml15" style=" background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/products/product-1.jpg');"></div>
                                    <div class="swiper-slide__product__body">
                                        <p>Furniture</p>
                                        <h5>Butler Stool Ladder</h5>
                                        <div><div class="dollar">$251.99</div><span>Was $290.00</span></div> 
                                     <div> <div class="star-val">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                       </div><span class="star-text">( 2 Rewiews )</span></div> 
                                    </div>
                                    <button class="btn-cart"><i class="fas fa-cart-plus"></i>Add To Cart</button>
                                    
                                    <!-- repeated icons------------------------------- -->
                                    <div class="repeated_icons">
                                        <div class="ic_circle"><i class="fas fa-heart"></i></div>
                                        <div class="ic_circle"><i class="fas fa-glasses"></i></div>
                                        <div class="ic_circle"><i class="fas fa-random"></i></div>
                                    </div>
                                    <!-- repeated icons------------------------------- -->
                                </div>
                                <!-- slide red-------------------------------------------------- -->
                            </div>
                            <div class="item swiper-slide">
                                     <!-- slide with red------------------------------ -->
                                <div class="swiper-slide__product">
                                    <div class="swiper-slide__product__media ml15" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/products/product-2.jpg');"></div>
                                    <div class="swiper-slide__product__body">
                                        <p>Electronics</p>
                                        <h5>Base - Soundsport Wireless headphones</h5>
                                        <div><div class="dollar">$179.99</div><span>Was $199.99</span></div> 
                                     <div> <div class="star-val">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                       </div><span class="star-text">( 4 Rewiews )</span></div> 
                                    </div>
                                    <button class="btn-cart"><i class="fas fa-cart-plus"></i>Add To Cart</button>
                                    <div class="countdown"></div>
                                    <!-- repeated icons------------------------------- -->
                                    <div class="repeated_icons">
                                        <div class="ic_circle"><i class="fas fa-heart"></i></div>
                                        <div class="ic_circle"><i class="fas fa-glasses"></i></div>
                                        <div class="ic_circle"><i class="fas fa-random"></i></div>
                                    </div>
                                    <!-- repeated icons------------------------------- -->
                                </div>
                                <!-- slide red-------------------------------------------------- -->

                            </div>
                            <div class="item swiper-slide">
                                     <!-- slide with red------------------------------ -->
                                <div class="swiper-slide__product">
                                    <div class="swiper-slide__product__media ml15" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/products/product-3.jpg');"></div>
                                    <div class="swiper-slide__product__body">
                                        <p>Furniture</p>
                                        <h5>Can 2-Seater Sofa frame charcoal</h5>
                                        <div class="gold">$3.050.00</div>
                                     <div> <div class="star-val">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star" style="color:grey !important"></i>
                                        <i class="fas fa-star" style="color:grey !important"></i>
                                       </div><span class="star-text">( 8 Rewiews )</span></div> 
                                    </div>
                                    <button class="btn-cart"><i class="fas fa-cart-plus"></i>Add To Cart</button>

                                    <!-- repeated icons------------------------------- -->
                                    <div class="repeated_icons">
                                        <div class="ic_circle"><i class="fas fa-heart"></i></div>
                                        <div class="ic_circle"><i class="fas fa-glasses"></i></div>
                                        <div class="ic_circle"><i class="fas fa-random"></i></div>
                                    </div>
                                    <!-- repeated icons------------------------------- -->
                                </div>
                                <!-- slide red-------------------------------------------------- -->

                           

                        

                        
                    </div>

                    
                  
                    </div>
            </div>
            <!-- ++++++++++++++++++++++++++++++++++++++++++      -->
            <!-- secondslider------------------------------- -->
            <div class="fslider">
            <div class="fourth_bem" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/banners/banner-5.jpg');">
                <h4>Best Deals</h4>
                <h2>Canon EOS Mega Sale</h2>
                <span>Up to 20% Off</span>
                <button class="btn_shop"><p>SHOP NOW</p><i class="fas fa-long-arrow-alt-right"></i></button>
            </div>

            <div class="owl-carousel glide">
                
                  
                    <div class="item swiper-slide">

                        <!-- slide with red------------------------------ -->
                        <div class="swiper-slide__product">
                            <div class="swiper-slide__product__media" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/products/product-6.jpg');"></div>
                            <div class="swiper-slide__product__body">
                                <p>Laptops</p>
                                <h5>MacBook Pro 13" Display i5</h5>
                                <div><div class="dollar">$251.99</div><span>Was $290.00</span></div> 
                             <div> <div class="star-val">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                               </div><span class="star-text">( 2 Rewiews )</span></div> 
                            </div>
                            <button class="btn-cart"><i class="fas fa-cart-plus"></i>Add To Cart</button>
                            
                            <!-- repeated icons------------------------------- -->
                            <div class="repeated_icons">
                                <div class="ic_circle"><i class="fas fa-heart"></i></div>
                                <div class="ic_circle"><i class="fas fa-glasses"></i></div>
                                <div class="ic_circle"><i class="fas fa-random"></i></div>
                            </div>
                            <!-- repeated icons------------------------------- -->
                        </div>
                        <!-- slide red-------------------------------------------------- -->
                    </div>
                    <div class="item swiper-slide">
                             <!-- slide with red------------------------------ -->
                        <div class="swiper-slide__product">
                            <div class="swiper-slide__product__media" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/products/product-7.jpg');"></div>
                            <div class="swiper-slide__product__body">
                                <p>Audio</p>
                                <h5>Bose - Soundlink Bluetooth Speaker</h5>
                                <div><div class="dollar">$179.99</div><span>Was $199.99</span></div> 
                             <div> <div class="star-val">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                               </div><span class="star-text">( 4 Rewiews )</span></div> 
                            </div>
                            <button class="btn-cart"><i class="fas fa-cart-plus"></i>Add To Cart</button>
                            
                            <!-- repeated icons------------------------------- -->
                            <div class="repeated_icons">
                                <div class="ic_circle"><i class="fas fa-heart"></i></div>
                                <div class="ic_circle"><i class="fas fa-glasses"></i></div>
                                <div class="ic_circle"><i class="fas fa-random"></i></div>
                            </div>
                            <!-- repeated icons------------------------------- -->
                        </div>
                        <!-- slide red-------------------------------------------------- -->

                    </div>
                    <div class="item swiper-slide">
                             <!-- slide with red------------------------------ -->
                        <div class="swiper-slide__product">
                            <div class="swiper-slide__product__media" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/products/product-8.jpg');"></div>
                            <div class="swiper-slide__product__body">
                                <p>Tablets</p>
                                <h5>Apple 11 inch iPad Pro With Wi-Fi</h5>
                                <div class="gold">$3.050.00</div>
                             <div> <div class="star-val">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star" style="color:grey !important"></i>
                                <i class="fas fa-star" style="color:grey !important"></i>
                               </div><span class="star-text">( 8 Rewiews )</span></div> 
                            </div>
                            <button class="btn-cart"><i class="fas fa-cart-plus"></i>Add To Cart</button>

                            <!-- repeated icons------------------------------- -->
                            <div class="repeated_icons">
                                <div class="ic_circle"><i class="fas fa-heart"></i></div>
                                <div class="ic_circle"><i class="fas fa-glasses"></i></div>
                                <div class="ic_circle"><i class="fas fa-random"></i></div>
                            </div>
                            <!-- repeated icons------------------------------- -->
                        </div>
                        <!-- slide red-------------------------------------------------- -->

                   

                </div>
                </div>
                
           
            </div>


            <!-- third slider -->

            <div class="fslider mt60">
                <div class="fourth_bem" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/banners/banner-6.jpg');">
                    <h4>Best Deals</h4>
                    <h2>Canon EOS Mega Sale</h2>
                    <span>Up to 20% Off</span>
                    <button class="btn_shop"><p>SHOP NOW</p><i class="fas fa-long-arrow-alt-right"></i></button>
                </div>
    
                <div class="owl-carousel glide">
                    
                      
                        <div class="item swiper-slide">
    
                            <!-- slide with red------------------------------ -->
                            <div class="swiper-slide__product">
                                <div class="swiper-slide__product__media" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/products/product-10.jpg');"></div>
                                <div class="swiper-slide__product__body">
                                    <p>Tables</p>
                                    <h5>Block Side Table</h5>
                                    <div><div class="dollar">$251.99</div><span>Was $290.00</span></div> 
                                 <div> <div class="star-val">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                   </div><span class="star-text">( 2 Rewiews )</span></div> 
                                </div>
                                <button class="btn-cart"><i class="fas fa-cart-plus"></i>Add To Cart</button>
                                
                                <!-- repeated icons------------------------------- -->
                                <div class="repeated_icons">
                                    <div class="ic_circle"><i class="fas fa-heart"></i></div>
                                    <div class="ic_circle"><i class="fas fa-glasses"></i></div>
                                    <div class="ic_circle"><i class="fas fa-random"></i></div>
                                </div>
                                <!-- repeated icons------------------------------- -->
                            </div>
                            <!-- slide red-------------------------------------------------- -->
                        </div>
                        <div class="item swiper-slide">
                                 <!-- slide with red------------------------------ -->
                            <div class="swiper-slide__product">
                                <div class="swiper-slide__product__media" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/products/product-11.jpg');"></div>
                                <div class="swiper-slide__product__body">
                                    <p>Sofas</p>
                                    <h5>Root Sofa Bed</h5>
                                    <div><div class="dollar">$179.99</div><span>Was $199.99</span></div> 
                                 <div> <div class="star-val">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                   </div><span class="star-text">( 4 Rewiews )</span></div> 
                                </div>
                                <button class="btn-cart"><i class="fas fa-cart-plus"></i>Add To Cart</button>
                                
                                <!-- repeated icons------------------------------- -->
                                <div class="repeated_icons">
                                    <div class="ic_circle"><i class="fas fa-heart"></i></div>
                                    <div class="ic_circle"><i class="fas fa-glasses"></i></div>
                                    <div class="ic_circle"><i class="fas fa-random"></i></div>
                                </div>
                                <!-- repeated icons------------------------------- -->
                            </div>
                            <!-- slide red-------------------------------------------------- -->
    
                        </div>
                        <div class="item swiper-slide">
                                 <!-- slide with red------------------------------ -->
                            <div class="swiper-slide__product">
                                <div class="swiper-slide__product__media" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/products/product-12.jpg');"></div>
                                <div class="swiper-slide__product__body">
                                    <p>Lighting</p>
                                    <h5>Carronade Large Suspension Lamp</h5>
                                    <div class="gold">$3.050.00</div>
                                 <div> <div class="star-val">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star" style="color:grey !important"></i>
                                    <i class="fas fa-star" style="color:grey !important"></i>
                                   </div><span class="star-text">( 8 Rewiews )</span></div> 
                                </div>
                                <button class="btn-cart"><i class="fas fa-cart-plus"></i>Add To Cart</button>
    
                                <!-- repeated icons------------------------------- -->
                                <div class="repeated_icons">
                                    <div class="ic_circle"><i class="fas fa-heart"></i></div>
                                    <div class="ic_circle"><i class="fas fa-glasses"></i></div>
                                    <div class="ic_circle"><i class="fas fa-random"></i></div>
                                </div>
                                <!-- repeated icons------------------------------- -->
                            </div>
                            <!-- slide red-------------------------------------------------- -->
    
                       
    
                    </div>
                    </div>
                    
               
                </div>

                <div class="main__right__detax">
                    <div class="main__right__detax__div h155" style="background-image: url(https://portotheme.com/html/molla/assets/images/demos/demo-14/banners/banner-7.jpg);">
                        <p>Spring Sale is Coming</p>
                        <h1>Floral T-shirts and Vests</h1>
                        <h3>Spring Sale</h3>
                        <button class="btn_shop"><p>SHOP NOW</p><i class="fas fa-long-arrow-alt-right"></i></button>
                    </div>
                    <div class="main__right__detax__div h155" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/banners/banner-8.jpg');">
                        <p>Amazing Value</p>
                        <h1>Upgrade and Save</h1>
                        <h3>On The Latest Apple Devices</h3>
                        <button class="btn_shop"><p>SHOP NOW</p><i class="fas fa-long-arrow-alt-right"></i></button>
    
                    </div>
                </div>


            <!-- fourth slider -->

            <div class="fslider ">
                <div class="fourth_bem" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/banners/banner-9.jpg');">
                    <h4>Best Deals</h4>
                    <h2>Clearance
                        Outerwear</h2>
                    <span>Up to 70% Off</span>
                    <button class="btn_shop"><p>SHOP NOW</p><i class="fas fa-long-arrow-alt-right"></i></button>
                </div>
    
                <div class="owl-carousel glide">
                    
                      
                        <div class="item swiper-slide">
    
                            <!-- slide with red------------------------------ -->
                            <div class="swiper-slide__product">
                                <div class="swiper-slide__product__media" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/products/product-14.jpg');"></div>
                                <div class="swiper-slide__product__body">
                                    <p>Shoes</p>
                                    <h5>Beige Faux Suede Runner Trainers</h5>
                                    <div><div class="dollar">$64.00</div></div> 
                                 <div> <div class="star-val">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                   </div><span class="star-text">( 2 Rewiews )</span></div> 
                                </div>
                                <button class="btn-cart"><i class="fas fa-cart-plus"></i>Add To Cart</button>
                                
                                <!-- repeated icons------------------------------- -->
                                <div class="repeated_icons">
                                    <div class="ic_circle"><i class="fas fa-heart"></i></div>
                                    <div class="ic_circle"><i class="fas fa-glasses"></i></div>
                                    <div class="ic_circle"><i class="fas fa-random"></i></div>
                                </div>
                                <!-- repeated icons------------------------------- -->
                            </div>
                            <!-- slide red-------------------------------------------------- -->
                        </div>
                        <div class="item swiper-slide">
                                 <!-- slide with red------------------------------ -->
                            <div class="swiper-slide__product">
                                <div class="swiper-slide__product__media" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/products/product-15.jpg');"></div>
                                <div class="swiper-slide__product__body">
                                    <p>Accessories</p>
                                    <h5>Black boucle check scarf</h5>
                                    <div><div class="dollar">$36.00</div></div> 
                                 <div> <div class="star-val">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                   </div><span class="star-text">( 4 Rewiews )</span></div> 
                                </div>
                                <button class="btn-cart"><i class="fas fa-cart-plus"></i>Add To Cart</button>
                                
                                <!-- repeated icons------------------------------- -->
                                <div class="repeated_icons">
                                    <div class="ic_circle"><i class="fas fa-heart"></i></div>
                                    <div class="ic_circle"><i class="fas fa-glasses"></i></div>
                                    <div class="ic_circle"><i class="fas fa-random"></i></div>
                                </div>
                                <!-- repeated icons------------------------------- -->
                            </div>
                            <!-- slide red-------------------------------------------------- -->
    
                        </div>
                        <div class="item swiper-slide">
                                 <!-- slide with red------------------------------ -->
                            <div class="swiper-slide__product">
                                <div class="swiper-slide__product__media" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/products/product-16.jpg');"></div>
                                <div class="swiper-slide__product__body">
                                    <p>T-Shirt</p>
                                    <h5>Can 2-Seater Sofa frame charcoal</h5>
                                    <div class="gold">$56.00</div>
                                 <div> <div class="star-val">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star" style="color:grey !important"></i>
                                    <i class="fas fa-star" style="color:grey !important"></i>
                                   </div><span class="star-text">( 8 Rewiews )</span></div> 
                                </div>
                                <button class="btn-cart"><i class="fas fa-cart-plus"></i>Add To Cart</button>
    
                                <!-- repeated icons------------------------------- -->
                                <div class="repeated_icons">
                                    <div class="ic_circle"><i class="fas fa-heart"></i></div>
                                    <div class="ic_circle"><i class="fas fa-glasses"></i></div>
                                    <div class="ic_circle"><i class="fas fa-random"></i></div>
                                </div>
                                <!-- repeated icons------------------------------- -->
                            </div>
                            <!-- slide red-------------------------------------------------- -->
    
                       
    
                    </div>
                    </div>
                    
               
                </div>
<!-- fifth slider--------------------------- -->
<div class="fslider mt60">
    <div class="fourth_bem" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/banners/banner-10.jpg');">
        <h4>Best Deals</h4>
        <h2>Cooking Appliance</h2>
        <span>Up to 30% Off</span>
        <button class="btn_shop"><p>SHOP NOW</p><i class="fas fa-long-arrow-alt-right"></i></button>
    </div>

    <div class="owl-carousel glide">
        
          
            <div class="item swiper-slide">

                <!-- slide with red------------------------------ -->
                <div class="swiper-slide__product">
                    <div class="swiper-slide__product__media" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/products/product-18.jpg');"></div>
                    <div class="swiper-slide__product__body">
                        <p>Cooking Appliances</p>
                        <h5>KitchenAid Professional 500 Series Stan Mixer</h5>
                        <div><div class="dollar">$249.99</div><span>Was $299.99</span></div> 
                     <div> <div class="star-val">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                       </div><span class="star-text">( 2 Rewiews )</span></div> 
                    </div>
                    <button class="btn-cart"><i class="fas fa-cart-plus"></i>Add To Cart</button>
                    
                    <!-- repeated icons------------------------------- -->
                    <div class="repeated_icons">
                        <div class="ic_circle"><i class="fas fa-heart"></i></div>
                        <div class="ic_circle"><i class="fas fa-glasses"></i></div>
                        <div class="ic_circle"><i class="fas fa-random"></i></div>
                    </div>
                    <!-- repeated icons------------------------------- -->
                </div>
                <!-- slide red-------------------------------------------------- -->
            </div>
            <div class="item swiper-slide">
                     <!-- slide with red------------------------------ -->
                <div class="swiper-slide__product">
                    <div class="swiper-slide__product__media" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/products/product-19.jpg');"></div>
                    <div class="swiper-slide__product__body">
                        <p>DinnerWare</p>
                        <h5>MoDRN Industrial 7 Piece</h5>
                        <div><div class="dollar">$40.00</div></div> 
                     <div> <div class="star-val">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                       </div><span class="star-text">( 4 Rewiews )</span></div> 
                    </div>
                    <button class="btn-cart"><i class="fas fa-cart-plus"></i>Add To Cart</button>
                    
                    <!-- repeated icons------------------------------- -->
                    <div class="repeated_icons">
                        <div class="ic_circle"><i class="fas fa-heart"></i></div>
                        <div class="ic_circle"><i class="fas fa-glasses"></i></div>
                        <div class="ic_circle"><i class="fas fa-random"></i></div>
                    </div>
                    <!-- repeated icons------------------------------- -->
                </div>
                <!-- slide red-------------------------------------------------- -->

            </div>
            <div class="item swiper-slide">
                     <!-- slide with red------------------------------ -->
                <div class="swiper-slide__product">
                    <div class="swiper-slide__product__media" style="background-image: url('https://portotheme.com/html/molla/assets/images/demos/demo-14/products/product-20.jpg');"></div>
                    <div class="swiper-slide__product__body">
                        <p>COOKWARE</p>
                        <h5>Cuisinart French Classic 3 Pieces</h5>
                        <div class="gold">$44.99</div>
                     <div> <div class="star-val">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star" style="color:grey !important"></i>
                        <i class="fas fa-star" style="color:grey !important"></i>
                       </div><span class="star-text">( 8 Rewiews )</span></div> 
                    </div>
                    <button class="btn-cart"><i class="fas fa-cart-plus"></i>Add To Cart</button>

                    <!-- repeated icons------------------------------- -->
                    <div class="repeated_icons">
                        <div class="ic_circle"><i class="fas fa-heart"></i></div>
                        <div class="ic_circle"><i class="fas fa-glasses"></i></div>
                        <div class="ic_circle"><i class="fas fa-random"></i></div>
                    </div>
                    <!-- repeated icons ------------------------------- -->
                </div>
                <!--slide red---------------------------------------------------->

           

        </div>
        </div>
        
   
    </div>
                <div class="iconbox">
                    <div class="iconbox__icon">
                        <i class="fas fa-rocket"></i>
                        <div class="icons">
                            <h3>Free Shipping</h3>
                            <p>Orders $50 or more</p>
                        </div>
                    </div>
                    <div class="iconbox__icon">
                        <i class="fas fa-sync-alt"></i>
                        <div class="icons">
                            <h3>
                                Free Returns</h3>
                            <p>Within 30 days</p>
                        </div>
                    </div>
                    <div class="iconbox__icon">
                        <i class="fas fa-info-circle"></i>
                        <div class="icons">
                            <h3>Get 20% Off 1 Item</h3>
                            <p>When you sign up</p>
                        </div>
                    </div>
                    <div class="iconbox__icon">
                        <i class="fas fa-life-ring"></i>
                        <div class="icons">
                            <h3>
                                We Support</h3>
                            <p>24/7 amazing services</p>
                        </div>
                    </div>
                </div>
</div>

</div>
<!-- footer_1 -->
<div class="footer_subscribe">
    <div class="footer_subscribe__left">
        <h3>Join Our Newsletter</h3>
        <p>Subcribe to get information about products and coupons</p>
    </div>
    <div class="footer_subscribe__right">
        <form action="">
            <input placeholder="Enter your Email Address" type="email">
            <button>SUBSCRIBE</button>
        </form>
    </div>
</div>
<!-- footer_2 -->
<div class="big__footer">
    <div class="col-4 big__footer__info">
        <div class="logo"></div>
        <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
        <div class="widget">
                <div class="widget__contact">
                    <span class="widget__title">Got Question? Call us 24/7</span>
                    <a href="#">+0123 456 789</a>
                </div>
                <div class="widget__info">
                    <div class="widget__title">Payment Method</div>
                    <img src="https://portotheme.com/html/molla/assets/images/payments.png" alt="">
                </div>
        </div>
    </div>

    <div class="col-2 info-text">
        <h4>Useful Links</h4>
      <ul>
        <li>About Molla</li>
        <li>How to shop on Molla</li>
        <li>FAQ</li>
        <li>Contact us</li>
        <li>Log in</li>
      </ul>
    </div>
    <div class="col-2 info-text">
        <h4>Customer Service</h4>
        <ul>
            <li>Payment Methods</li>
            <li>Money-back guarantee!</li>
            <li>Returns</li>
            <li>Shipping</li>
            <li>Terms and conditions</li>
            <li>Privacy Policy</li>
        </ul>
    </div>
    <div class="col-2 info-text">
        <h4>My Account</h4>
        <ul>
            <li>Sign In</li>
            <li>View Cart</li>
            <li>My Wishlist</li>
            <li>Track My Order</li>
            <li>Help</li>
        </ul>
    </div>
    <div class="col-2 info-text">
        <h4>Sign Up to Newsletter</h4>
        <p>Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan.</p>
        <form action="">
            <input type="text" placeholder="Enter Your Email">
            <button><i class="fas fa-long-arrow-alt-right"></i></button>
        </form>
    </div>
</div>

<footer>
    <p>Copyright © 2019 Molla Store. All Rights Reserved</p>
    <div class="social-media">
        <p>Social Media</p>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-pinterest-p"></i>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../owl.carousel.min.js"></script>
<script src="../app.js"></script>
</body>
</html>