@import "./components.scss";

.main__right__detax{
    width: 100%;
    height: 250px;
    display: flex;
    
    
    &__div{
        position: relative;
        width: 48%;
        height: 80%;
        margin: 20px 2% 20px 2px;
        padding: 2% 5%;
        background-repeat:no-repeat;
        background-size:cover;
        
        
        &::after{
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:black;
            opacity: 0;
            transition: 0.5s ease;
            z-index: 1;
        }
       
        &:hover{
            cursor: pointer;
           &::after{
               opacity: 0.3;
           }
            
            
           
        }
        p{
            color: white;
            font-size: 14px;
            z-index: 100;
            position: relative;
        }
        h1{
            color: white;
            margin-top: 15px;
            width: 200px;
            font-size: 20px;
            width: 250px;
            z-index: 100;
            position: relative;
        }
        h3{
            color:white;
            font-weight: normal;
            font-size: 16px;
            margin-top: 10px;
            z-index: 100;
            position: relative;
        }
        
    }
}



.main__right__logos{
    width: 100%;
    height: 100px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        width: 12%;
        height: 30%;
    }
}

.firstslider{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    &__heading{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 35px;
        h2{
            color: black;

        }
        ul{
            list-style: none;
            display: flex;
            justify-content:space-around;
            width: 50%;
            li{
                min-width: 25px;
                color: grey;
                cursor: pointer;
                &:hover{
                    color:$color;
                    border-bottom: 0.2px solid $color;
                    transition: 0.5s;
                }
            }
        }
    }
    .glide{
        width: 100%;
        height: 400px;
        padding: 30px 5px 5px 5%;
        position: relative;
        
    }
}

.fslider{
    display: flex;
    width: 100%;
    height: 400px;
    display: flex;
    
    .glide{
        width: 75%;
        position: relative;
    }
}

.iconbox{
    width: 100%;
    height: max-content;
    display: flex;
    margin: 100px 0 0 0;
    i{
        font-size: 2rem;
        margin-right: 15px;
        background-color:white;
        color:#333 !important;
    }
    &__icon{
        width: 23%;
        margin:15px;
        display: flex;
        margin-right: 2%;

        .icons{
            display: flex;
            flex-direction: column;
        h3{
            color:#333 !important;
            font-size: 16px;
            margin-bottom: 10px;
        }
        p{
            font-size: 15px;
            color: grey;
        }
    }
        
    }
}


