@import "./components.scss";

.main__left__sofas{
    position: relative;
    width:90%;
    height: 410px !important;
    padding:10% 4% 0 20%;
    background-image: url("https://portotheme.com/html/molla/assets/images/demos/demo-14/banners/banner-11.jpg");
    margin:20px 30px 0 10px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &::after{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:black;
        opacity: 0;
        transition: 0.5s ease;
        z-index: 1;
    }
   
    &:hover{
        cursor: pointer;
       &::after{
           opacity: 0.3;
       }
        
        
       
    }
    >*{
        z-index: 2;
    }
    h1{
        font-size: 20px;
        color:white
    }
    h3{
        font-size: 18px;
        color: white;
        font-weight: normal;
    }
    .btn_shop{
        top: 20%;
        right:4%;
        left:unset;
        bottom: unset;
    }
}

.post{
    width: 98%;
    height: 390px;
    margin: 20px 30px 0 10px;
    padding-right: 10%;
    span{
        font-size: 20px;
        height: 40px;
        display: inline-block;
        border-bottom: 0.5px solid $color;
    }
    img{
        margin-top: 20px;
    }
    p{
        font-size: 14.5px;
        color: grey;
        padding-left: 5%;
    }
    .meta{
        font-size: 17px;
        color: black;
        font-weight: bold;
        margin: 10px 0; 
        padding-left: 5%;
    }
    .readmore{
        color: $color;
        margin: 15px 0;
        padding-left: 5%;
        
        
        span{
            font-size:16px;
            height: 25px;
            width: 40%;
            border: none;
            display: block;
            &:hover{
                cursor: pointer;
                i{
                opacity: 1;
                display: inline-block;
                transform:translateX(50%);
                color:$color;
                transition: 0.5s ease;}
            }
        }
        i{
            opacity: 0;
            color: $color;
            transform:translateX(0%);
            width: 20px;
            font-size: 14px;
            

        }
        
    }
}