.Home{
    width: 100%;
    padding:9rem 2% 0 2%;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 2vw;
    
    
}

@media only screen and (max-device-width:687px){
    .Home{
        gap: 5vw;
    }
}