footer {
    width: 120rem;
    height: 5.76rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20rem;
    img {
        width: 5rem;
        height: 1.3rem;
    }
    p{
        font-size: 1.1rem;
        color: #868e96;
      
    }
    a{
        color: #a5aeb6;
        font-size: 1.6rem;
        text-decoration: none;
        transition: 0.5s;
        &:hover{
            color: #bdc4ca;
            transition: 0.5s;
            
        }
    }
}
