* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(../img/Screenshotbg.png);
  background-repeat: repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: fantasy;
}

.container {
  width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(280px + 20vw);
  height: 90%;
}

.home h1 {
  font-size: calc(19px + 2.8vw);
  color: #2c3e50;
}

.home .btn {
  width: calc(140px + 0.1vw);
  height: calc(15px + 1vw);
  background-color: #3498db;
  color: white;
  font-size: calc(14px + .3vw);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding-left: 4%;
  padding-right: 15%;
  margin: 10px 0;
}

.home .btn div {
  width: 30%;
  height: inherit;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3190d0;
}

.home p {
  color: #2c3e50;
}

.gameover {
  width: 250px;
  height: 250px;
  background-color: #8c97a0;
  border-radius: 10px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameover .head {
  font-size: calc(18px + 1vw);
  font-weight: 600;
  color: white;
}

.gameover .score {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameover .score p {
  font-size: calc(12px + 1vw);
  color: white;
}

.gameover .score .lastscore {
  font-size: calc(11px + 1vw);
  color: white;
}

.gameover .buttons {
  width: 90%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gameover .buttons .btn {
  width: 48%;
  height: 85%;
  background-color: #3498db;
  color: white;
  font-size: calc(14px + .3vw);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding-left: 4%;
  padding-right: 15%;
  margin: 10px 0;
}

.gameover .buttons .btn div {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3190d0;
}

.main {
  width: 290px;
  height: 90%;
  background-color: #ecf0f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.main__scores {
  width: 95%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__scores .score__btn {
  width: 47%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2c3e50;
  color: white;
  border-radius: 3px;
  padding-bottom: 3px;
}

.main__scores .score__btn p {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__scores .score__btn p i {
  font-size: 9px;
  color: white;
}

.main .fast__progress {
  width: 85%;
  height: 10px;
  background-color: #8c97a0;
  border-radius: 5px;
  position: relative;
  top: -5%;
}

.main .fast__progress .x_bar {
  position: absolute;
  top: -3px;
  left: -11px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #2c3e50;
}

.main .question {
  width: 70%;
  height: 15%;
  text-align: center;
  color: #2c3e50;
  font-weight: 700;
}

.main .progress {
  width: 90%;
  height: 8px;
  background-color: #8c97a0;
  border-radius: 5px;
  position: relative;
  top: 5%;
  overflow: hidden;
  margin-top: 13px;
}

.main .progress__bar {
  height: inherit;
  background-color: #2c3e50;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.main .options {
  width: 95%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .options .option {
  width: 100%;
  height: 22%;
  background-color: #3498db;
  border-radius: 5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .options .option:hover {
  cursor: pointer;
  background-color: #3190d0;
}

.green {
  background-color: #27c027 !important;
}

.red {
  background-color: red !important;
}
