*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Architects Daughter', cursive;
    background-color: #c68c53a8;
}
// note section+++++++++++++++++++++++++++++++++++++
.note{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999;
    &__sub{
        width: max-content;
        height: max-content;
        position: relative;
        i{
            position: absolute;
            top: 3%;
            right: 3%;
            font-size: 1.4rem;
            color: gray;
            cursor: pointer;
        }
    textarea{
        width: 276px;
        height: 276px;
        padding: 25px;
        outline: none;
        resize: none;
        font-size: 1.5rem;
        font-family: inherit;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
    }
    

}
}

// note section-------------------------------------------------

// header+++++++++++++++++++++++++++++++++++++++++++++++++++
header{
    width: 1005;
    max-width:1280px;
    margin: auto;
    height: max-content;
    .container{
        width: 94%;
        color: white;
        padding: 0 3%;
        min-height: 70px;
        text-shadow: 1px 1px black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            .fas{
                color: #c2ff3d;
                font-weight: 900;
            }
        }
        
        .btn{
            padding: 8px;
            outline: none;
            cursor: pointer;
            font-family: inherit;
            border-radius: 5px;
            background-color: whitesmoke;
            border: 1px solid lightgray;
            &:hover {
                color: white;
                background-color: rgba(0, 0, 0, 0.1);
                transition: 0.5s;
            }
        }
    }
}

// header---------------------------------------------------
// main++++++++++++++++++++++++++++++++++++++
    .main{
        width: 80%;
        height: max-content;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 10px;
        margin:0 10%;
        h1{
            position: relative;
        }
    }

// ------------------------------------------
@media only screen and (max-width:769px){
    .container{
        flex-direction: column;
        gap: 15px;
        padding: 20px !important;
    }
}