.btn {
  width: 12.5rem;
  height: 3.5rem;
  border: 1.4px solid #458FF6;
  border-radius: 55px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn_white {
  background-color: white;
}

.btn_white p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1rem;
  line-height: 3.75rem;
  color: #458FF6;
}

.btn_white:hover {
  background-color: #458FF6;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn_white:hover p {
  color: white;
}

.dots {
  position: absolute;
  width: 4.4393rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dots .dot {
  width: 0.65375rem;
  opacity: 0.5;
  cursor: pointer;
  margin: 0.4625rem 0.3125rem;
  height: 0.65125rem;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#97C3F9), to(#93C1F9));
  background-image: linear-gradient(#97C3F9, #93C1F9);
}

.trafalgar__text {
  width: 30.0625rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trafalgar__text h1 {
  width: 30.0625rem;
  height: 7rem;
  font-weight: bold;
  line-height: 3.5rem;
  font-size: 2.25rem;
}

.trafalgar__text span {
  display: inline-block;
  width: 3.5rem;
  height: 2px;
  background-color: black;
  border-radius: 0.625rem;
  margin: 1.625rem 0 1.9375rem 0;
}

.trafalgar__text > p {
  width: 28.125rem;
  height: 7.5rem;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: #7D7987;
  margin-bottom: 2.5rem;
}

.h3_2 {
  width: 16.5625rem !important;
  height: 4rem !important;
}

.ws {
  width: 15.875rem !important;
  height: 6rem !important;
}

.mt {
  margin-top: 14.3125rem  !important;
  padding-top: 0 !important;
}

.mt span {
  margin-top: 1.875rem !important;
}

.ml {
  margin-left: 4.4375rem;
}
