.gallery__card {
  width: 22vw;
  height: 18vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.gallery__card img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.gallery__card:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
  cursor: pointer;
}

@media only screen and (max-device-width: 1199px) {
  .gallery__card {
    width: 30vw;
    height: 22vw;
  }
}

@media only screen and (max-device-width: 890px) {
  .gallery__card {
    width: 47vw;
    height: 30vw;
  }
}

@media only screen and (max-device-width: 687px) {
  .gallery__card {
    width: 100%;
    height: 60vw;
  }
}
