*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    background-color: #b17ab334;
    display: flex;
    justify-content: center;
}
.container{
    padding: 2%;
    width: 100%;
    height: 100vh;
    background-color: rgb(90, 87, 87);
    div{
        display: flex;
        
    }

    h3{
        color: #dadada;
        margin-bottom: 20px;

    }
    button{
        background: #333 !important;
        width: calc(130px + 1vw);
        height: calc(35px + 0.5vw);
        margin-right: 2%;
        margin-bottom: 2%;
        border:none;
        cursor: pointer;
        font-size: calc(12px + 0.5vw);
        position: relative;
        z-index: 10;
        transition: 0.5s;
        color: #dadada;}
        
       .btn_1{
        span{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #dadada;}
        }
    

    
}
// -----
.btn_1{
    
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(45deg,#2bd12b,
        rgb(236, 107, 129));
        opacity: 0;
        z-index: -5;
        inset: -4px;
        transform: scaleX(0);
        transform-origin:left;
        transition: transform 0.5s;  
        
        
    }
    &:hover{
       
       
        &::before{
            content: "";
            opacity: 1;
            transition:transform 0.5s;
            
            transform: scaleX(1);
           
            
            
        }
       
    }

}
// btn_2/////////////
.btn_2{
    span:nth-child(1){
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background-color: cyan;
        transition:transform 0.5s;
        transform-origin:top;
        transform: scaleY(0);
    }

    span:nth-child(2){
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height:2px;
        transition: transform 0.5s;
        transform-origin:left;
        transform: scaleX(0);
        background-color: cyan;
    }
    span:nth-child(3){
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height:2px;
        transition: transform 0.5s;
        transform-origin:right;
        transform: scaleX(0);
        background-color: cyan;
    }
    span:nth-child(4){
        position: absolute;
        right: 0;
        bottom: 0;
        width: 2px;
        height:100%;
        transition: transform 0.5s;
        transform-origin:bottom;
        transform: scaleY(0);
        background-color: cyan;
    }

}

.btn_2:hover{
    span:nth-child(1){
        transition:transform 0.5s;
        transform-origin:bottom;
        transform: scaleY(1);
    }
    span:nth-child(2){
        transition:transform 0.5s;
        transform-origin:right;
        transform: scaleY(1);
    }
    span:nth-child(3){
        transition:transform 0.5s;
        transform-origin:left;
        transform: scaleY(1);
    }
    span:nth-child(4){
        transition:transform 0.5s;
        transform-origin:top;
        transform: scaleY(1);
    }
    
}

// btn_3////////////////////

.btn_3{
    span:nth-child(1){
        position:absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        transition: transform 0.5s;
        
        transform:translateX(-15px);
        opacity: 0;
        background-color: rgb(206, 40, 206);
    }
    span:nth-child(2){
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        transition: transform 0.5s;
        
        transform:translateY(-15px);
        opacity: 0;
        background-color: rgb(206, 40, 206);
    }
    span:nth-child(3){
        position:absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        transition: transform 0.5s;
        
        transform:translateX(15px);
        opacity: 0;
        background-color: rgb(206, 40, 206);
    }
    span:nth-child(4){
        position:absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 2px;
        transition: transform 0.5s;
        
        transform:translateY(15px);
        opacity: 0;
        background-color: rgb(206, 40, 206);
    }
}

.btn_3:hover{
    span:nth-child(1){
        transform: translateX(0%);
        opacity: 1;
        background-color: rgb(206, 40, 206);
        box-shadow:  1px 1px 10px 0.2px rgb(206, 40, 206) ;
        animation: anima 0.5s linear;
        transition: 0.5s linear;
    }
    span:nth-child(2){
        transform: translateY(0%);
        opacity: 1;
        background-color: rgb(206, 40, 206);
        box-shadow:  1px 1px 10px 0.8px rgb(206, 40, 206) ;
        animation: anima 0.5s linear;
        transition: 0.5s linear;
    }
    span:nth-child(3){
        transform: translateY(0%);
        opacity: 1;
        background-color: rgb(206, 40, 206);
        box-shadow:  1px 1px 10px 0.8px rgb(206, 40, 206) ;
        animation: anima 0.5s linear;
        transition: 0.5s linear;
    }
    span:nth-child(4){
        transform: translateY(0%);
        opacity: 1;
        background-color: rgb(206, 40, 206);
        box-shadow:  1px 1px 10px 0.8px rgb(206, 40, 206) ;
        animation: anima 0.5s linear;
        transition: 0.5s linear;
    }
}

@keyframes anima{
    0%{
        box-shadow: none;
    }
    99%{
        box-shadow: none;
       
    }
    100%{
        box-shadow: 1px 1px 10px 0.2px 1px rgb(206, 40, 206) ;
        
    }
}

// btn_4---------------------------------------
.btn_4{
    span:nth-child(1){
        position:absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        transition: transform 0.5s;
        transform: scaleY(0);
        transform-origin: top;
    
        background-color: rgb(98, 241, 62);
    }
    span:nth-child(2){
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: right;
        
        background-color: rgb(98, 241, 62);
    }
    span:nth-child(3){
        position:absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        transition: transform 0.5s;
        transform: scaleY(0);
        transform-origin:bottom;
        
        background-color: rgb(98, 241, 62);
    }
    span:nth-child(4){
        position:absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 2px;
        transition: transform 0.5s;
        transform-origin:left;
        transform: scaleX(0);
        
        background-color: rgb(98, 241, 62);
    }
}

.btn_4:hover{
    span:nth-child(1){
        transform: scaleY(1);
        
        transform-origin: bottom;
        transition:transform 0.5s;
    }
    span:nth-child(2){
        transform: scaleX(1);
        
        transform-origin: left;
        
        transition:transform 0.5s ;
    }
    span:nth-child(3){
        transform: scaleY(1);
        
        transform-origin: top;
        
        transition: transform 0.5s linear;
    }
    span:nth-child(4){
        transform: scaleX(1);
        
        transform-origin: right;
        
        transition: transform 0.5s;
    }
}
// btn_5------------------------------

.btn_5{
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: ellipse(78% 55% at 20% 51%);
        transition: transform 1s;
        transform-origin: right;
        opacity: 0;
        z-index:-5;
        background-image:linear-gradient(blue,red)  ;
    }

    &:hover{
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image:linear-gradient(blue,red);
            clip-path: inset(0 0 0 0);
            transition: transform 0.5s;
            animation: clip 0.7s ease;
            transform-origin:left;
            z-index:-5;
            color: black;
            opacity: 1;
        }
    }
}

@keyframes clip{
    0%{
        transform: scaleX(0);
        clip-path: ellipse(78% 55% at 20% 51%);
    }
    50%{
        
        clip-path: ellipse(78% 55% at 20% 51%);
        transition: clip-path 0.3s linear;
    }
    100%{
        transform: scaleX(1);
        clip-path: ellipse(100% 100% at 70% 70%);
        transition: clip-path 0.3s linear;
        
    }
}

// btn_6==================
.btn_6{
    &::before,&::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #00c3ff;
        clip-path: circle(9.4% at 0 0);
        transition: clip-path 1s; 
         z-index: -5;}

        &::after{
            clip-path: circle(9.4% at 100% 0);
        }

        &:hover{
            &::before,&::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(146deg, #00c3ff -5%,
                    #ffff1c );
                clip-path: circle(40.3% at 1% 7%);
                transition: clip-path 1s;
                
            }
        
                &::after{
                    clip-path: circle(40.3% at 100% 7%);
                    background-image: linear-gradient(212deg, #00c3ff -5%,
                    #ffff1c );
                }
        
        }
}