* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #ebe8e8;
}

.container {
  width: 100%;
  height: 6rem;
  margin-top: 4rem;
}

.container__wrapper {
  width: 84%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.container__wrapper div {
  width: 15rem;
  height: 4rem;
  background: #7F7FD5;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#91EAE4), color-stop(#86A8E7), to(#7F7FD5));
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0 3rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  border-radius: 10px;
  -webkit-transition: linear;
  transition: linear;
}

.container__wrapper div:hover {
  cursor: pointer;
  opacity: .8;
  -webkit-transition: linear;
  transition: linear;
}

.main {
  width: 84%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  gap: 2.5vw;
  margin-top: 3rem;
}

.main .item {
  width: 22.6%;
  height: 22rem;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main .blue {
  background-color: aqua;
}

.main .green {
  background-color: #35dd1f;
}

.main .pink {
  background-color: pink;
}

.main .purple {
  background-color: #da6acb;
}

@media only screen and (min-device-width: 900px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-device-width: 899px) {
  html {
    font-size: 10px;
  }
  .container__wrapper {
    width: 70rem;
  }
  .main .item {
    width: 31%;
  }
}

@media only screen and (max-device-width: 700px) {
  html {
    font-size: 8px;
  }
  .container {
    overflow-x: scroll;
  }
  .container__wrapper {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .container__wrapper div {
    width: 17rem;
    height: 4rem;
    margin: 0 20px;
  }
  .main .item {
    width: 48%;
  }
}
