.btn {
  width: 12.5rem;
  height: 3.5rem;
  border: 1.4px solid #458FF6;
  border-radius: 55px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn_white {
  background-color: white;
}

.btn_white p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1rem;
  line-height: 3.75rem;
  color: #458FF6;
}

.btn_white:hover {
  background-color: #458FF6;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn_white:hover p {
  color: white;
}

.dots {
  position: absolute;
  width: 4.4393rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dots .dot {
  width: 0.65375rem;
  opacity: 0.5;
  cursor: pointer;
  margin: 0.4625rem 0.3125rem;
  height: 0.65125rem;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#97C3F9), to(#93C1F9));
  background-image: linear-gradient(#97C3F9, #93C1F9);
}

.trafalgar__text {
  width: 30.0625rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trafalgar__text h1 {
  width: 30.0625rem;
  height: 7rem;
  font-weight: bold;
  line-height: 3.5rem;
  font-size: 2.25rem;
}

.trafalgar__text span {
  display: inline-block;
  width: 3.5rem;
  height: 2px;
  background-color: black;
  border-radius: 0.625rem;
  margin: 1.625rem 0 1.9375rem 0;
}

.trafalgar__text > p {
  width: 28.125rem;
  height: 7.5rem;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: #7D7987;
  margin-bottom: 2.5rem;
}

.h3_2 {
  width: 16.5625rem !important;
  height: 4rem !important;
}

.ws {
  width: 15.875rem !important;
  height: 6rem !important;
}

.mt {
  margin-top: 14.3125rem  !important;
  padding-top: 0 !important;
}

.mt span {
  margin-top: 1.875rem !important;
}

.ml {
  margin-left: 4.4375rem;
}

@media only screen and (max-device-width: 768px) {
  html {
    font-size: 1.4vw;
  }
  .fa-bars {
    display: block !important;
    color: black;
    font-size: 3vw;
    cursor: pointer;
  }
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #458FF6;
    width: 100% !important;
    height: 100vh !important;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 9999999;
  }
  .menu .fa-times {
    color: white;
    font-size: 4vw;
    margin-left: 10rem;
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
  }
  .menu ul {
    position: absolute;
    top: 15%;
    left: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 25% !important;
    height: 30% !important;
  }
  .menu ul span {
    display: none;
  }
  .menu ul a {
    color: white !important;
    font-size: 3vw !important;
  }
  .virtual {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem 10.1875rem 0 11.875rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    position: relative;
  }
  .virtual__text {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .virtual__text h1 {
    width: 80%  !important;
    margin-top: 5%;
    text-align: center;
  }
  .virtual__text p {
    width: 70% !important;
    text-align: center;
  }
  .virtual__picture {
    width: 35.312rem !important;
    height: 30.375rem !important;
    margin-left: 0 !important;
    margin-top: 5%;
  }
  .virtual .dots {
    top: 1.125rem;
    left: 0;
  }
  .services__text {
    margin-left: 10% !important;
  }
  .services__items {
    width: 50rem !important;
    margin-left: 15% !important;
  }
  .services__items .dots {
    width: 7.6rem !important;
    top: 36.2%;
    right: -4%;
    z-index: -5;
  }
  .services__items .vector {
    width: 47.8125rem;
    height: 38.6875rem;
    position: absolute;
    top: -2.5rem;
    left: -15rem;
    z-index: -5;
  }
  .services .btn {
    margin-left: 40% !important;
    margin-top: 5%;
  }
  .healthcare {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5rem 0 0 5% !important;
    position: relative;
  }
  .healthcare__pic {
    width: 35.625rem !important;
    height: 24.8125rem !important;
    background-size: cover;
  }
  .mt {
    margin-top: 10% !important;
  }
  .ml {
    margin-left: 0 !important;
    margin-top: 10%;
  }
  .trafalgar__text {
    width: 100% !important;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0 !important;
  }
  .trafalgar__text h1 {
    width: 80% !important;
    text-align: center;
    margin-top: 5%;
  }
  .trafalgar__text span {
    margin: 0 0 3% 0 !important;
  }
  .trafalgar__text > p {
    width: 70% !important;
    text-align: center;
  }
  .testimonial {
    width: 65rem !important;
    height: 26.5625rem;
    border-radius: 24px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#67C3F3), to(#5A98F2));
    background-image: linear-gradient(#67C3F3, #5A98F2);
    margin: 16.625rem 0 0 5% !important;
  }
  .testimonial p {
    width: 100% !important;
  }
  .articles {
    width: 90% !important;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    margin-top: 10% !important;
    margin-left: 10% !important;
    position: relative;
  }
  .articles h1 {
    margin-right: 4rem !important;
  }
  .articles span {
    margin-left: 6rem !important;
  }
  .articles .articles__wrapper {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .articles .articles__wrapper__item {
    width: 33.875rem !important;
    height: 40rem !important;
    margin-left: 15rem;
    margin-top: 7%;
  }
  .articles .articles__wrapper__item img {
    width: 100% !important;
    height: 18.375rem !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .articles .articles__wrapper__text {
    padding-left: 2.0625rem;
  }
  .articles .articles__wrapper__text h3 {
    width: 26.6875rem !important;
    height: 4rem;
    font-weight: bold;
    font-size: 2.8vw !important;
    line-height: 2rem;
    color: #000000;
    margin-top: 3.5625rem !important;
  }
  .articles .articles__wrapper__text p {
    width: 20.625rem !important;
    height: 9.25rem !important;
    font-size: 1.7rem !important;
    line-height: 1.75rem;
    color: #7D7987;
    margin-top: 3rem !important;
  }
  .articles .articles__wrapper__text span {
    width: 16.625rem;
    height: 1.75rem;
    font-size: 1.0625rem;
    line-height: 1.75rem;
    color: #458FF6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.5625rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .articles .articles__wrapper__text span i {
    margin-left: 0.9375rem;
    padding-top: 0.125rem;
  }
  .articles .btn {
    margin-right: 15% !important;
    margin-top: 4.5rem;
  }
  .articles .btn p {
    font-size: 1.125rem;
    line-height: 3.75rem;
  }
  .footer {
    width: 100%;
    height: 27rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#67C3F3), to(#5A98F2));
    background-image: linear-gradient(#67C3F3, #5A98F2);
    padding: 8% 6% 6% 6%  !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 12.5625rem;
    position: relative;
  }
  .footer__text {
    width: 24.4375rem;
    height: 12.5625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__text .logo {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 2.5625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 32rem;
    cursor: pointer;
  }
  .footer__text .logo__round {
    width: 2.5625rem;
    height: 2.5625rem;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #FFFFFF;
    color: #458FF6;
    font-weight: Bold;
    font-size: 1.625rem;
    padding: 0.125rem 0.8125rem 0 0.8125rem;
  }
  .footer__text .logo__text {
    width: 6.6875rem;
    height: 1.875rem;
    font-weight: 700;
    font-size: 1.8rem !important;
    line-height: 1.8825rem;
    color: #FFFFFF;
    margin-left: 0.75rem;
  }
  .footer__text h4 {
    width: 24.4375rem;
    height: 5.25rem;
    font-size: 1.325rem !important;
    line-height: 1.75rem;
    color: #FFFFFF;
    margin-top: 1.0625rem;
    font-weight: lighter;
  }
  .footer__text p {
    width: 24.4375rem;
    height: 1.75rem;
    color: #FFFFFF;
    font-size: 1.3rem !important;
    line-height: 1.75rem;
    margin-top: 1.9375rem;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__list h3 {
    width: 5.75rem;
    height: 3.75rem;
    color: #FFFFFF;
    font-size: 1.55rem !important;
    line-height: 3.75rem;
    font-weight: bold;
  }
  .footer__list ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 9.5rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .footer__list ul li {
    font-size: 1.325rem !important;
    line-height: 2.375rem;
    color: #FFFFFF;
    font-weight: lighter;
  }
  .footer .dots__right {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: -25%;
    right: 7%;
  }
  .footer .dots__left {
    width: 6.3125rem;
    bottom: 1%;
    left: 0.5%;
  }
}

@media only screen and (max-device-width: 480px) {
  html {
    font-size: 2.3vw;
  }
  header .logo {
    margin-right: 0 !important;
  }
  .fa-bars {
    display: block !important;
    color: black;
    font-size: 3vw;
    cursor: pointer;
  }
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #458FF6;
    width: 100% !important;
    height: 100vh !important;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 9999999;
  }
  .menu .fa-times {
    color: white;
    font-size: 4vw;
    margin-left: 10rem;
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
  }
  .menu ul {
    position: absolute;
    top: 15%;
    left: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 25% !important;
    height: 30% !important;
  }
  .menu ul span {
    display: none;
  }
  .menu ul a {
    color: white !important;
    font-size: 3vw !important;
  }
  .virtual {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10% !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    position: relative;
  }
  .virtual__text {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .virtual__text h1 {
    width: 100%  !important;
    margin-top: 5%;
    text-align: center;
  }
  .virtual__text p {
    width: 100% !important;
    text-align: center;
  }
  .virtual__picture {
    width: 35.312rem !important;
    height: 30.375rem !important;
    margin-left: 0 !important;
    margin-top: 5%;
  }
  .virtual .dots {
    top: 1.125rem;
    left: 0;
  }
  .services__text {
    width: 90% !important;
    margin-left: 5% !important;
  }
  .services__text h1 {
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 3.5rem;
  }
  .services__text span {
    display: inline-block;
    width: 3.5rem;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    margin-top: 1.625rem;
  }
  .services__text p {
    width: 90% !important;
    height: 3.75rem;
    font-weight: 18.75rem;
    font-size: 1.125rem;
    line-height: 1.875rem;
    text-align: center;
    color: #7D7987;
    margin-top: 2.0625rem;
  }
  .services__items {
    width: 22rem !important;
    margin-left: 25% !important;
  }
  .services__items .dots {
    width: 7.6rem !important;
    top: 36.2%;
    right: -4%;
    z-index: -5;
  }
  .services__items .vector {
    width: 47.8125rem;
    height: 38.6875rem;
    position: absolute;
    top: -2.5rem;
    left: -15rem;
    z-index: -5;
  }
  .services .btn {
    margin-left: 40% !important;
    margin-top: 5%;
  }
  .healthcare {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5rem 0 0 5% !important;
    position: relative;
  }
  .healthcare__pic {
    width: 35.625rem !important;
    height: 24.8125rem !important;
    background-size: cover;
  }
  .mt {
    margin-top: 10% !important;
  }
  .ml {
    margin-left: 0 !important;
    margin-top: 10%;
  }
  .trafalgar__text {
    width: 100% !important;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0 !important;
  }
  .trafalgar__text h1 {
    width: 80% !important;
    text-align: center;
    margin-top: 5%;
  }
  .trafalgar__text span {
    margin: 0 0 3% 0 !important;
  }
  .trafalgar__text > p {
    width: 70% !important;
    text-align: center;
  }
  .testimonial {
    width: 90% !important;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    border-radius: 24px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#67C3F3), to(#5A98F2));
    background-image: linear-gradient(#67C3F3, #5A98F2);
    margin: 10 0 0 5% !important;
  }
  .testimonial__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonial__main__text {
    margin-top: 5%;
  }
  .testimonial p {
    width: 100% !important;
  }
  .articles {
    width: 95% !important;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    margin-top: 5% !important;
    margin-left: 5% !important;
    position: relative;
  }
  .articles h1 {
    margin-right: 1rem !important;
    margin-top: 10% !important;
  }
  .articles span {
    margin-left: 6rem !important;
  }
  .articles .articles__wrapper {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .articles .articles__wrapper__item {
    width: 70% !important;
    height: 40rem !important;
    margin-left: 10% !important;
    margin-top: 7%;
  }
  .articles .articles__wrapper__item img {
    width: 100% !important;
    height: 18.375rem !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .articles .articles__wrapper__text {
    padding-left: 2.0625rem;
  }
  .articles .articles__wrapper__text h3 {
    width: 100% !important;
    height: 4rem;
    font-weight: bold;
    font-size: 3vw !important;
    line-height: 2rem;
    color: #000000;
    margin-top: 3.5625rem !important;
  }
  .articles .articles__wrapper__text p {
    width: 20.625rem !important;
    height: 9.25rem !important;
    font-size: 2.7vw !important;
    line-height: 1.75rem;
    color: #7D7987;
    margin-top: 3rem !important;
  }
  .articles .articles__wrapper__text span {
    width: 16.625rem;
    height: 1.75rem;
    font-size: 1.0625rem;
    line-height: 1.75rem;
    color: #458FF6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.5625rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .articles .articles__wrapper__text span i {
    margin-left: 0.9375rem;
    padding-top: 0.125rem;
  }
  .articles .btn {
    margin-right: 15% !important;
    margin-top: 4.5rem;
  }
  .articles .btn p {
    font-size: 1.125rem;
    line-height: 3.75rem;
  }
  .footer {
    width: 100%;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#67C3F3), to(#5A98F2));
    background-image: linear-gradient(#67C3F3, #5A98F2);
    padding: 8% 6% 6% 6%  !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 12.5625rem;
    position: relative;
  }
  .footer__text {
    width: 80% !important;
    height: 12.5625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__text .logo {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 2.5625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 32rem;
    cursor: pointer;
  }
  .footer__text .logo__round {
    width: 2.5625rem;
    height: 2.5625rem;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #FFFFFF;
    color: #458FF6;
    font-weight: Bold;
    font-size: 1.625rem;
    padding: 0.125rem 0.8125rem 0 0.8125rem;
  }
  .footer__text .logo__text {
    width: 70%;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    font-weight: 700;
    font-size: 1.8rem !important;
    line-height: 1.8825rem;
    color: #FFFFFF;
    margin-left: 0.75rem;
  }
  .footer__text h4 {
    width: 24.4375rem;
    height: 5.25rem;
    font-size: 1.325rem !important;
    line-height: 1.75rem;
    color: #FFFFFF;
    margin-top: 1.0625rem;
    font-weight: lighter;
  }
  .footer__text p {
    width: 100% !important;
    height: 1.75rem;
    color: #FFFFFF;
    font-size: 1.3rem !important;
    line-height: 1.75rem;
    margin-top: 1.9375rem;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__list h3 {
    width: 5.75rem;
    height: 3.75rem;
    color: #FFFFFF;
    font-size: 1.55rem !important;
    line-height: 3.75rem;
    font-weight: bold;
    margin-top: 5%;
  }
  .footer__list ul {
    list-style: none;
    display: none !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 9.5rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .footer__list ul li {
    font-size: 1.325rem !important;
    line-height: 2.375rem;
    color: #FFFFFF;
    font-weight: lighter;
  }
  .footer .dots__right {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: -25%;
    right: 7%;
  }
  .footer .dots__left {
    width: 6.3125rem;
    bottom: 1%;
    left: 0.5%;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1599px) {
  html {
    font-size: 1vw;
  }
}

@media only screen and (min-device-width: 1601px) {
  html {
    font-size: 1vw;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: fantasy;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 9.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 11.9375rem;
  padding-right: 12rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 2.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 32rem;
  cursor: pointer;
}

header .logo__round {
  width: 2.5625rem;
  height: 2.5625rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #458FF6;
  color: white;
  font-weight: Bold;
  font-size: 1.625rem;
  padding: 0.125rem 0.8125rem 0 0.8125rem;
}

header .logo__text {
  width: 6.6875rem;
  height: 1.875rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8825rem;
  color: #233348;
  margin-left: 0.75rem;
}

header .fa-bars {
  display: none;
}

header .fa-times {
  display: none;
}

header .menu {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

header .menu__active a {
  font-size: 1.125rem;
  opacity: 1 !important;
  color: #1F1534;
  line-height: 1.4375rem;
  font-weight: bold;
}

header .menu ul {
  width: 34.0625rem;
  height: inherit;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .menu ul li {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

header .menu ul li a {
  font-size: 1.125rem;
  opacity: 50%;
  color: #1F1534;
  line-height: 1.4375rem;
  position: relative;
  text-decoration: none;
}

header .menu ul li span {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #458FF6;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: right;
          transform-origin: right;
  opacity: 150%;
}

header .menu ul li:hover {
  cursor: pointer;
}

header .menu ul li:hover span {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.virtual {
  width: 100%;
  height: 37.375rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 10.1875rem 0 11.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.virtual__text {
  width: 27.8125rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.virtual__text h1 {
  width: 26.6875rem;
  height: 7rem;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5rem;
  color: black;
  cursor: pointer;
}

.virtual__text > p {
  width: 27.8125rem;
  height: 6rem;
  font-size: 1.3125rem;
  line-height: 2rem;
  color: #7D7987;
  margin-top: 1.5625rem;
}

.virtual__text .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #458FF6;
  margin-top: 3rem;
}

.virtual__text .btn:hover {
  cursor: pointer;
  background-color: #0b66e3;
}

.virtual__text .btn p {
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 1rem;
  line-height: 3.75rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.virtual__picture {
  width: 43.312rem;
  height: 37.375rem;
  margin-left: 6.812rem;
  background-size: cover;
  background-image: url("../img/trafalgar-header illustration 1.jpg");
}

.virtual .dots {
  top: 1.125rem;
  left: 0;
}

.services {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12rem;
}

.services__text {
  width: 59.5rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-left: 20.187rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__text h1 {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 3.5rem;
}

.services__text span {
  display: inline-block;
  width: 3.5rem;
  height: 2px;
  background-color: black;
  border-radius: 5px;
  margin-top: 1.625rem;
}

.services__text p {
  width: 59.5rem;
  height: 3.75rem;
  font-weight: 18.75rem;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: center;
  color: #7D7987;
  margin-top: 2.0625rem;
}

.services__items {
  width: 70rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 15rem;
  margin-top: 5rem;
  position: relative;
}

.services__items .dots {
  width: 7.6rem !important;
  top: 36.2%;
  right: -4%;
  z-index: -5;
}

.services__items .vector {
  width: 47.8125rem;
  height: 38.6875rem;
  position: absolute;
  top: -2.5rem;
  left: -15rem;
  z-index: -5;
}

.services__items__item {
  width: 21.875rem;
  height: 22.125rem;
  border-radius: 20px;
  -webkit-box-shadow: 0.63rem 2.5rem 3.125rem 0px rgba(229, 233, 246, 0.4);
          box-shadow: 0.63rem 2.5rem 3.125rem 0px rgba(229, 233, 246, 0.4);
  background-color: white;
  margin-bottom: 2.312rem;
  padding-left: 2.437rem;
}

.services__items__item h2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 3.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 3.5rem;
}

.services__items__item p {
  width: 16.625rem;
  height: 5.25rem;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #7D7987;
  text-align: start;
}

.services__items .img1 {
  width: 5.74875rem;
  height: 5.625rem;
  margin-bottom: 1.4rem;
  margin-top: 3.375rem;
}

.services__items .img2 {
  width: 3.87rem;
  height: 5.316rem;
  margin-bottom: 1.213rem;
  margin-top: 3.89rem;
}

.services__items .img3 {
  width: 3.69rem;
  height: 5.938rem;
  margin-bottom: 1.525rem;
  margin-top: 3.19375rem;
}

.services__items .img4 {
  width: 3.741rem;
  height: 5.170rem;
  margin-bottom: 1.899rem;
  margin-top: 3.331rem;
}

.services__items .img5 {
  width: 5.170rem;
  height: 4.282rem;
  margin-bottom: 2.268rem;
  margin-top: 3.6875rem;
}

.services__items .img6 {
  width: 4.338rem;
  height: 5.94rem;
  margin-bottom: 1.211rem;
  margin-top: 3.25rem;
}

.services .btn {
  margin-left: 44%;
}

.healthcare {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13.75rem 0 0 8.4375rem;
  position: relative;
}

.healthcare__pic {
  width: 40.625rem;
  height: 29.8125rem;
  background-size: cover;
}

.healthcare .trafalgar__text {
  margin-left: 8.875rem;
}

.healthcare i {
  margin-left: 0.9243rem;
}

.healthcare .dots {
  right: 0;
  top: -15.0625rem;
  z-index: 999999;
}

.testimonial {
  width: 70rem;
  height: 26.5625rem;
  border-radius: 24px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#67C3F3), to(#5A98F2));
  background-image: linear-gradient(#67C3F3, #5A98F2);
  margin: 16.625rem 0 0 15.125rem;
  padding: 4rem 7.375rem 5.5625rem 7.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.testimonial__head {
  width: 32.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__head h1 {
  width: 32.625rem;
  height: 3rem;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #FFFFFF;
}

.testimonial__head span {
  width: 3.5rem;
  height: 2px;
  border-radius: 6px;
  background-color: #FFFFFF;
  margin-top: 1.5625rem;
}

.testimonial__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4.125rem;
}

.testimonial__main__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 22.125rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.testimonial__main__author img {
  width: 8.8125rem;
  height: 8.8125rem;
  border-radius: 50%;
  margin-right: 1.8125rem;
}

.testimonial__main__author__state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial__main__author__state h2 {
  width: 11.5rem;
  height: 3rem;
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 3rem;
  color: #FFFFFF;
  margin-bottom: -0.625rem;
}

.testimonial__main__author__state p {
  width: 7.4375rem;
  height: 3rem;
  font-size: 1.125rem;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.85);
}

.testimonial__main__text {
  width: 26.25rem;
  height: 7.5rem;
  font-size: 1.1875rem;
  line-height: 1.875rem;
  color: rgba(255, 255, 255, 0.9);
}

.testimonial .pagination {
  width: 20.875rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -2.9375rem;
}

.testimonial .pagination .dots {
  position: static;
  width: 5.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
}

.testimonial .pagination .dots .dot:first-child {
  background-color: #458FF6 !important;
  background-image: unset;
}

.testimonial .pagination i {
  display: inline-block;
  font-size: 1.625rem;
  padding-bottom: 0.3125rem;
}

.testimonial .pagination i:nth-child(1) {
  color: #8ebbfa;
}

.testimonial .pagination i:last-child {
  color: #458FF6;
}

.testimonial .dots__left {
  bottom: 10%;
  left: -4%;
  z-index: -5;
}

.testimonial .dots__right {
  top: 2%;
  right: 1%;
}

.articles {
  width: calc(100% - 11.9375rem);
  height: 50.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 17.375rem;
  margin-left: 11.9375rem;
  position: relative;
}

.articles h1 {
  width: 28.875rem;
  height: 3.5rem;
  font-weight: bold;
  font-size: 2.1875rem;
  line-height: 3.5rem;
  color: #000000;
  margin-top: 0.375rem;
  margin-right: 20%;
}

.articles > span {
  display: inline-block;
  width: 3.5rem;
  height: 2px;
  background-color: black;
  border-radius: 5px;
  margin-top: 1.625rem;
  margin-bottom: 4.5rem;
  margin-right: 20%;
}

.articles .articles__wrapper {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articles .articles__wrapper__item {
  width: 21.875rem;
  height: 32rem;
  -webkit-box-shadow: 0.625rem 2.5rem 3.125rem 0px rgba(229, 233, 246, 0.4);
          box-shadow: 0.625rem 2.5rem 3.125rem 0px rgba(229, 233, 246, 0.4);
  border-radius: 1.25rem;
  overflow: hidden;
  margin-right: 2.125rem;
  background-color: white;
}

.articles .articles__wrapper__item img {
  width: 23.0625rem;
  height: 15.375rem;
  background-size: cover;
}

.articles .articles__wrapper__text {
  padding-left: 2.0625rem;
}

.articles .articles__wrapper__text h3 {
  width: 15.6875rem;
  height: 4rem;
  font-weight: bold;
  font-size: 1.3125rem;
  line-height: 2rem;
  color: #000000;
  margin-top: 1.5625rem;
}

.articles .articles__wrapper__text p {
  width: 16.625rem;
  height: 5.25rem;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #7D7987;
  margin-top: 0.75rem;
}

.articles .articles__wrapper__text span {
  width: 16.625rem;
  height: 1.75rem;
  font-size: 1.0625rem;
  line-height: 1.75rem;
  color: #458FF6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.articles .articles__wrapper__text span i {
  margin-left: 0.9375rem;
  padding-top: 0.125rem;
}

.articles .btn {
  margin-right: 20%;
  margin-top: 4.5rem;
}

.articles .btn p {
  font-size: 1.125rem;
  line-height: 3.75rem;
}

.articles .vector_2 {
  width: 29.875rem;
  height: 32.25rem;
  position: absolute;
  top: 10%;
  right: 0;
  z-index: -5;
}

.articles .dots {
  width: 7.6rem !important;
  top: 14%;
  left: -3.5%;
  z-index: -5;
}

.footer {
  width: 100%;
  height: 27rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#67C3F3), to(#5A98F2));
  background-image: linear-gradient(#67C3F3, #5A98F2);
  padding: 7.375rem 13.375rem 7.0625rem 11.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12.5625rem;
  position: relative;
}

.footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__text {
  width: 24.4375rem;
  height: 12.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__text .logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 2.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 32rem;
  cursor: pointer;
}

.footer__text .logo__round {
  width: 2.5625rem;
  height: 2.5625rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  color: #458FF6;
  font-weight: Bold;
  font-size: 1.625rem;
  padding: 0.125rem 0.8125rem 0 0.8125rem;
}

.footer__text .logo__text {
  width: 6.6875rem;
  height: 1.875rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8825rem;
  color: #FFFFFF;
  margin-left: 0.75rem;
}

.footer__text h4 {
  width: 24.4375rem;
  height: 5.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #FFFFFF;
  margin-top: 1.0625rem;
  font-weight: lighter;
}

.footer__text p {
  width: 24.4375rem;
  height: 1.75rem;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1.75rem;
  margin-top: 1.9375rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list h3 {
  width: 5.75rem;
  height: 3.75rem;
  color: #FFFFFF;
  font-size: 1.25rem;
  line-height: 3.75rem;
  font-weight: bold;
}

.footer__list ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 9.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.footer__list ul li {
  font-size: 1.125rem;
  line-height: 2.375rem;
  color: #FFFFFF;
  font-weight: lighter;
}

.footer .dots__right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -25%;
  right: 7%;
}

.footer .dots__left {
  width: 6.3125rem;
  bottom: 1%;
  left: 0.5%;
}
