.About__card__item {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;

    img {
        width: 50%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 8rem;
        transition: all 0.2s ease-in-out;
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
            transform: scale(1.01);
            transition: all 0.2s ease-in-out;
        }
    }
    p {
        line-height: 1.7;
        color: #777;
        font-weight: 400;
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 3rem;
    }
    .about__icons{
        display: flex;
        justify-content: center;
        width: 100%;
    .icon{
        margin-right: 3rem;
        &:last-child{
            margin-right: 0 !important;
        }
        &:hover{
            cursor: pointer;
            svg{
                color: #777;
                transition: all 0.5s ease-in-out;
            }
        }
        svg{
            color: #20c997;
            transition: all 0.5s ease-in-out;

        }
    
    }
    }
    
}
@media only screen and (max-device-width:880px) {
    .About__card__item {
        width: 47%;
    }
}

@media only screen and (max-device-width:650px) {
    .About__card__item {
        width: 90%;
        margin: 0 auto;
    }
}