a {
  text-decoration: none;
  width: inherit;
  height: inherit;
}

.btn_shop {
  position: absolute;
  left: 10.5%;
  bottom: 0%;
  border: none;
  width: 150px;
  height: 30px;
  margin: 25px 0;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 0 7px 0;
  z-index: 100;
}

.btn_shop p {
  padding-left: 20%;
}

.btn_shop:hover {
  background-color: #fcb941;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
  transition: 0.5s;
}

.btn_shop:hover p {
  padding-left: 10%;
  padding-right: 10%;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn_shop:hover i {
  display: inline-block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn_shop i {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: inline-block;
  visibility: hidden;
  color: black;
  padding-top: 1.5px;
}

.btn-cart {
  position: relative;
  width: 85%;
  height: 40px;
  background-color: #fcb941;
  color: white;
  border: none;
  outline: none;
}

.btn-cart:hover {
  background-color: black;
  color: #fcb941;
}

.btn-cart i {
  margin-right: 20px;
}

.repeated_icons {
  width: 30px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 5%;
  right: 5%;
  opacity: 0;
}

.repeated_icons .ic_circle {
  width: 100%;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #fcb941;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.repeated_icons .ic_circle i {
  color: #fcb941;
}

.repeated_icons .ic_circle:hover {
  background-color: #fcb941;
}

.repeated_icons .ic_circle:hover i {
  color: white;
}

.owl-prev {
  color: grey !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 30% !important;
  left: 0 !important;
  width: 30px !important;
  height: 31px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.owl-prev span {
  font-size: 35px;
}

.owl-next {
  color: grey !important;
  position: absolute;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  top: 30% !important;
  right: 0 !important;
  width: 30px !important;
  height: 31px !important;
}

.owl-next span {
  font-size: 35px;
}

.swiper-slide {
  cursor: pointer;
  width: 85%;
  height: 100%;
  margin: 5px;
  z-index: 99999;
}

.swiper-slide:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(1, 1, 0, 0.295) !important;
          box-shadow: 0px 0px 10px rgba(1, 1, 0, 0.295) !important;
}

.swiper-slide__product {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.swiper-slide__product button {
  position: absolute;
  left: 7.5%;
  top: 170px;
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.swiper-slide__product:hover button {
  display: block;
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
}

.swiper-slide__product:hover .repeated_icons {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.swiper-slide__product:hover .countdown {
  display: none;
  -webkit-transition: 0.5s ease !important;
  transition: 0.5s ease !important;
}

.swiper-slide__product__media {
  width: 85%;
  height: 170px;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide__product__media img {
  width: 100%;
}

.swiper-slide__product__body {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.swiper-slide__product__body p {
  color: grey;
  font-size: 14px;
}

.swiper-slide__product__body h5 {
  font-size: 15px;
  font-weight: normal;
  text-align: center;
}

.swiper-slide__product__body h5:hover {
  color: #fcb941;
}

.swiper-slide__product__body .dollar {
  color: red;
  font-size: 16px;
  display: inline;
}

.swiper-slide__product__body span {
  display: inline;
  color: grey;
  margin-left: 10px;
}

.swiper-slide__product__body .star-val {
  display: inline;
  width: 120px;
  height: 20px;
}

.swiper-slide__product__body .star-val i {
  color: #fcb941;
  font-size: 12px;
}

.gold {
  color: #fcb941 !important;
}

.countdown {
  width: 85%;
  height: 40px;
  position: absolute;
  -webkit-transition: 0.5s ease !important;
  transition: 0.5s ease !important;
  left: 7.5%;
  top: 170px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../Screenshot_1.png");
}

.countdown_2 {
  width: 85%;
  height: 40px;
  position: absolute;
  -webkit-transition: 0.5s ease !important;
  transition: 0.5s ease !important;
  left: 7.5%;
  top: 86%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../Screenshot_1.png");
}

h2 {
  margin: 15px 0;
  padding-left: 20%;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
}

.fourth_bem {
  padding: 2% 2%;
  width: 23%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  position: relative;
  background-color: black;
}

.fourth_bem > * {
  z-index: 2;
}

.fourth_bem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 1;
}

.fourth_bem:hover::after {
  cursor: pointer;
  opacity: 0.3;
}

.fourth_bem h2 {
  margin: 0;
  padding-left: 0;
  margin-top: 5px;
}

.fourth_bem h4 {
  margin-top: 10px;
}

.fourth_bem span {
  margin-top: 10px;
}

.fourth_bem .btn_shop {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.mt60 {
  margin-top: 60px;
}

.pr {
  padding-right: 6% !important;
  height: 500px !important;
}

.h155 {
  height: 155px !important;
  margin-top: 50px;
}

.h155 .btn_shop {
  margin: 15px 0;
}

.ml15 {
  margin-left: 13%;
}

.main__right__detax {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__right__detax__div {
  position: relative;
  width: 48%;
  height: 80%;
  margin: 20px 2% 20px 2px;
  padding: 2% 5%;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__right__detax__div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 1;
}

.main__right__detax__div:hover {
  cursor: pointer;
}

.main__right__detax__div:hover::after {
  opacity: 0.3;
}

.main__right__detax__div p {
  color: white;
  font-size: 14px;
  z-index: 100;
  position: relative;
}

.main__right__detax__div h1 {
  color: white;
  margin-top: 15px;
  width: 200px;
  font-size: 20px;
  width: 250px;
  z-index: 100;
  position: relative;
}

.main__right__detax__div h3 {
  color: white;
  font-weight: normal;
  font-size: 16px;
  margin-top: 10px;
  z-index: 100;
  position: relative;
}

.main__right__logos {
  width: 100%;
  height: 100px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__right__logos img {
  width: 12%;
  height: 30%;
}

.firstslider {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 55px;
}

.firstslider__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 35px;
}

.firstslider__heading h2 {
  color: black;
}

.firstslider__heading ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

.firstslider__heading ul li {
  min-width: 25px;
  color: grey;
  cursor: pointer;
}

.firstslider__heading ul li:hover {
  color: #fcb941;
  border-bottom: 0.2px solid #fcb941;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.firstslider .glide {
  width: 100%;
  height: 400px;
  padding: 30px 5px 5px 5%;
  position: relative;
}

.fslider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 400px;
  display: flex;
}

.fslider .glide {
  width: 75%;
  position: relative;
}

.iconbox {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 0 0 0;
}

.iconbox i {
  font-size: 2rem;
  margin-right: 15px;
  background-color: white;
  color: #333 !important;
}

.iconbox__icon {
  width: 23%;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2%;
}

.iconbox__icon .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.iconbox__icon .icons h3 {
  color: #333 !important;
  font-size: 16px;
  margin-bottom: 10px;
}

.iconbox__icon .icons p {
  font-size: 15px;
  color: grey;
}
