a {
  text-decoration: none;
  width: inherit;
  height: inherit;
}

.btn_shop {
  position: relative;
  border: none;
  width: 150px;
  height: 30px;
  margin: 25px 0;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 0 7px 0;
}

.btn_shop p {
  padding-left: 20%;
}

.btn_shop:hover {
  background-color: #fcb941;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
  transition: 0.5s;
}

.btn_shop:hover p {
  padding-left: 10%;
  padding-right: 10%;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn_shop:hover i {
  display: inline-block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn_shop i {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: inline-block;
  visibility: hidden;
  color: black;
  padding-top: 1.5px;
}

.btn-cart {
  width: 85%;
  height: 40px;
  background-color: #fcb941;
  color: white;
  border: none;
  outline: none;
}

.btn-cart:hover {
  background-color: black;
  color: #fcb941;
}

.btn-cart i {
  margin-right: 20px;
}

.repeated_icons {
  width: 30px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 5%;
  right: 5%;
  visibility: hidden;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.repeated_icons .ic_circle {
  width: 100%;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #fcb941;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.repeated_icons .ic_circle i {
  color: #fcb941;
}

.repeated_icons .ic_circle:hover {
  background-color: #fcb941;
}

.repeated_icons .ic_circle:hover i {
  color: white;
}

.glide__arrow--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 30% !important;
  left: -30px !important;
  width: 30px !important;
  height: 31px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.glide__arrow--left i {
  font-size: 20px;
  color: grey;
}

.glide__arrow--right {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  top: 30% !important;
  right: -30px !important;
  width: 30px !important;
  height: 31px !important;
}

.glide__arrow--right i {
  font-size: 20px;
  color: grey;
}

.glide__slide {
  cursor: pointer;
  width: 20%;
  height: 100%;
  z-index: 99999;
}

.glide__slide:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-box-shadow: 10px 10px 20px rgba(1, 1, 0, 0.05) !important;
          box-shadow: 10px 10px 20px rgba(1, 1, 0, 0.05) !important;
}

.glide__slide__product {
  width: 100%;
  height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.glide__slide__product button {
  position: absolute;
  left: 7.5%;
  top: 170px;
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.glide__slide__product:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.glide__slide__product:hover button {
  display: block;
  -webkit-transition: 0.5s ease !important;
  transition: 0.5s ease !important;
}

.glide__slide__product:hover .repeated_icons {
  -webkit-transition: 0.5s ease !important;
  transition: 0.5s ease !important;
  visibility: visible;
}

.glide__slide__product:hover .countdown {
  display: none;
  -webkit-transition: 0.5s ease !important;
  transition: 0.5s ease !important;
}

.glide__slide__product__media {
  width: 85%;
  margin-left: 15%;
  height: 170px;
  background-repeat: no-repeat;
}

.glide__slide__product__body {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.glide__slide__product__body p {
  color: grey;
  font-size: 14px;
}

.glide__slide__product__body h5 {
  font-size: 15px;
  font-weight: normal;
}

.glide__slide__product__body .dollar {
  color: red;
  font-size: 16px;
  display: inline;
}

.glide__slide__product__body span {
  display: inline;
  color: grey;
  margin-left: 10px;
}

.glide__slide__product__body .star-val {
  display: inline;
  width: 120px;
  height: 20px;
}

.glide__slide__product__body .star-val i {
  color: #fcb941;
  font-size: 12px;
}

.gold {
  color: #fcb941 !important;
}

.countdown {
  width: 85%;
  height: 40px;
  position: absolute;
  -webkit-transition: 0.5s ease !important;
  transition: 0.5s ease !important;
  left: 7.5%;
  top: 170px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../Screenshot_1.png");
}
