.margin-top-reset {
  margin-top: 0px;
}

.padding-top-reset {
  padding-top: 0px;
}

.margin-right-reset {
  margin-right: 0px;
}

.padding-right-reset {
  padding-right: 0px;
}

.margin-bottom-reset {
  margin-bottom: 0px;
}

.padding-bottom-reset {
  padding-bottom: 0px;
}

.margin-left-reset {
  margin-left: 0px;
}

.padding-left-reset {
  padding-left: 0px;
}

.margin-general-reset {
  margin: 0px;
}

.padding-general-reset {
  padding: 0px;
}

.margin-top-1x {
  margin-top: 5px;
}

.padding-top-1x {
  padding-top: 5px;
}

.margin-right-1x {
  margin-right: 5px;
}

.padding-right-1x {
  padding-right: 5px;
}

.margin-bottom-1x {
  margin-bottom: 5px;
}

.padding-bottom-1x {
  padding-bottom: 5px;
}

.margin-left-1x {
  margin-left: 5px;
}

.padding-left-1x {
  padding-left: 5px;
}

.margin-top-2x {
  margin-top: 10px;
}

.padding-top-2x {
  padding-top: 10px;
}

.margin-right-2x {
  margin-right: 10px;
}

.padding-right-2x {
  padding-right: 10px;
}

.margin-bottom-2x {
  margin-bottom: 10px;
}

.padding-bottom-2x {
  padding-bottom: 10px;
}

.margin-left-2x {
  margin-left: 10px;
}

.padding-left-2x {
  padding-left: 10px;
}

.margin-top-3x {
  margin-top: 15px;
}

.padding-top-3x {
  padding-top: 15px;
}

.margin-right-3x {
  margin-right: 15px;
}

.padding-right-3x {
  padding-right: 15px;
}

.margin-bottom-3x {
  margin-bottom: 15px;
}

.padding-bottom-3x {
  padding-bottom: 15px;
}

.margin-left-3x {
  margin-left: 15px;
}

.padding-left-3x {
  padding-left: 15px;
}

.margin-top-4x {
  margin-top: 20px;
}

.padding-top-4x {
  padding-top: 20px;
}

.margin-right-4x {
  margin-right: 20px;
}

.padding-right-4x {
  padding-right: 20px;
}

.margin-bottom-4x {
  margin-bottom: 20px;
}

.padding-bottom-4x {
  padding-bottom: 20px;
}

.margin-left-4x {
  margin-left: 20px;
}

.padding-left-4x {
  padding-left: 20px;
}

.margin-top-5x {
  margin-top: 25px;
}

.padding-top-5x {
  padding-top: 25px;
}

.margin-right-5x {
  margin-right: 25px;
}

.padding-right-5x {
  padding-right: 25px;
}

.margin-bottom-5x {
  margin-bottom: 25px;
}

.padding-bottom-5x {
  padding-bottom: 25px;
}

.margin-left-5x {
  margin-left: 25px;
}

.padding-left-5x {
  padding-left: 25px;
}

.margin-vertical-1x {
  margin: 5px 0px;
}

.padding-vertical-1x {
  padding: 5px 0px;
}

.margin-vertical-2x {
  margin: 10px 0px;
}

.padding-vertical-2x {
  padding: 10px 0px;
}

.margin-vertical-3x {
  margin: 15px 0px;
}

.padding-vertical-3x {
  padding: 15px 0px;
}

.margin-vertical-4x {
  margin: 20px 0px;
}

.padding-vertical-4x {
  padding: 20px 0px;
}

.margin-vertical-5x {
  margin: 25px 0px;
}

.padding-vertical-5x {
  padding: 25px 0px;
}

.margin-horizontal-1x {
  margin: 0px 5px;
}

.padding-horizontal-1x {
  padding: 0px 5px;
}

.margin-horizontal-2x {
  margin: 0px 10px;
}

.padding-horizontal-2x {
  padding: 0px 10px;
}

.margin-horizontal-3x {
  margin: 0px 15px;
}

.padding-horizontal-3x {
  padding: 0px 15px;
}

.margin-horizontal-4x {
  margin: 0px 20px;
}

.padding-horizontal-4x {
  padding: 0px 20px;
}

.margin-horizontal-5x {
  margin: 0px 25px;
}

.padding-horizontal-5x {
  padding: 0px 25px;
}

.margin-general-1x {
  margin: 5px;
}

.padding-general-1x {
  padding: 5px;
}

.margin-general-2x {
  margin: 10px;
}

.padding-general-2x {
  padding: 10px;
}

.margin-general-3x {
  margin: 15px;
}

.padding-general-3x {
  padding: 15px;
}

.margin-general-4x {
  margin: 20px;
}

.padding-general-4x {
  padding: 20px;
}

.margin-general-5x {
  margin: 25px;
}

.padding-general-5x {
  padding: 25px;
}
/*# sourceMappingURL=variables.css.map */