.homepage {
  width: 120rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
}

.slider-wrap {
  width: 100%;
  height: 43.5rem;
  overflow: hidden;
  position: relative;
}

.slider-wrap .slider {
  position: absolute;
  height: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.slider-wrap .slider-item {
  width: 120rem;
  height: 100%;
  position: relative;
}

.slider-wrap .slider-item-left {
  width: 43.5rem;
  height: 43.5rem;
  padding-left: 4%;
  -webkit-box-shadow: 80px 0 80px 18px rgba(0, 0, 0, 0.96);
          box-shadow: 80px 0 80px 18px rgba(0, 0, 0, 0.96);
  background-color: rgba(0, 0, 0, 0.96);
  padding-top: 5px;
}

.slider-wrap .slider-item-left h2 {
  width: 100%;
  font-size: 2.7rem;
  color: white;
}

.slider-wrap .slider-item-left h3 {
  font-size: 1.3rem;
  margin-bottom: 2.5rem;
  color: white;
}

.slider-wrap .slider-item-left .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.slider-wrap .slider-item-left .icons .thumb {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0 20px 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.slider-wrap .slider-item-left .icons .thumb:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid #fff;
}

.slider-wrap .slider-item-left .icons .thumb:hover i {
  color: #fff;
}

.slider-wrap .slider-item-left .icons i {
  color: #999;
  font-size: 16px;
  border-radius: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.slider-wrap .slider-item-left .overview {
  font-size: 1.3rem;
  color: #999;
  margin-bottom: 0.5rem;
}

.slider-wrap .slider-item img {
  position: absolute;
  top: 0;
  right: 0;
  width: 84rem;
  height: 100%;
  z-index: -5;
  -webkit-box-shadow: inset 200px 0 102px -30px rgba(0, 0, 0, 0.8);
          box-shadow: inset 200px 0 102px -30px rgba(0, 0, 0, 0.8);
}

.slider-wrap .prevbtn {
  width: 4.8rem;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 9999;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider-wrap .prevbtn:hover {
  background-color: rgba(0, 0, 0, 0.267);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider-wrap .prevbtn i {
  font-size: 18px;
  color: white;
}

.slider-wrap .nextbtn {
  width: 4.8rem;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider-wrap .nextbtn:hover {
  background-color: rgba(0, 0, 0, 0.267);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider-wrap .nextbtn i {
  font-size: 18px;
  color: white;
}

.moviessection {
  width: 120rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
}

.moviessection .section {
  width: 100%;
  height: 25rem;
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
}

.moviessection .section .slider_title {
  position: absolute;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  top: 0;
  left: 0;
  color: #e5e5e5;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding-left: 5%;
}

.moviessection .section-slider {
  width: 400rem;
  height: 18rem;
  position: absolute;
  top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 4.6rem;
}

.moviessection .section-slider .item {
  width: 27rem;
  height: 15.3rem;
  position: relative;
  margin: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.moviessection .section-slider .item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.397);
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 0;
}

.moviessection .section-slider .item:after {
  content: "";
  width: 104%;
  height: 104%;
  position: absolute;
  z-index: 8;
  background-color: black;
  top: -2%;
  left: -2%;
  display: none;
}

.moviessection .section-slider .item:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.moviessection .section-slider .item:hover::before {
  opacity: 1;
}

.moviessection .section-slider .item:hover::after {
  display: block;
}

.moviessection .section-slider .item:hover > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.moviessection .section-slider .item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.moviessection .section-slider .item > div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 11;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  color: #fff;
  text-shadow: 2px 1px 2px #000;
}

.moviessection .section-slider .item > div > h2 {
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
}

.moviessection .section-slider .item > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.moviessection .section-slider .item > div > div span {
  display: inline-block;
  color: #40b95f;
  margin-right: 0.5rem;
  font-weight: 700;
}

.moviessection .section-slider .item > div > div > div {
  width: 4rem;
  height: 100%;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: .2rem;
  margin: 0 .5rem;
}

.moviessection .section .sliderprevbtn,
.moviessection .section .slidernextbtn {
  width: 4.6rem;
  height: 15.3rem;
  position: absolute;
  top: 5rem;
  background-color: rgba(0, 0, 0, 0.418);
  z-index: 12;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.moviessection .section .sliderprevbtn i,
.moviessection .section .slidernextbtn i {
  color: white;
  font-size: 1.5rem;
}

.moviessection .section .sliderprevbtn:hover,
.moviessection .section .slidernextbtn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.616);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.moviessection .section .sliderprevbtn {
  left: 0;
}

.moviessection .section .slidernextbtn {
  right: 0;
}
