* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Architects Daughter', cursive;
  background-color: #c68c53a8;
}

.note {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
}

.note__sub {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}

.note__sub i {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 1.4rem;
  color: gray;
  cursor: pointer;
}

.note__sub textarea {
  width: 276px;
  height: 276px;
  padding: 25px;
  outline: none;
  resize: none;
  font-size: 1.5rem;
  font-family: inherit;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
}

header {
  width: 1005;
  max-width: 1280px;
  margin: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

header .container {
  width: 94%;
  color: white;
  padding: 0 3%;
  min-height: 70px;
  text-shadow: 1px 1px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container h1 .fas {
  color: #c2ff3d;
  font-weight: 900;
}

header .container .btn {
  padding: 8px;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: 5px;
  background-color: whitesmoke;
  border: 1px solid lightgray;
}

header .container .btn:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main {
  width: 80%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
  margin: 0 10%;
}

.main h1 {
  position: relative;
}

@media only screen and (max-width: 769px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    padding: 20px !important;
  }
}
