*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body {
    height: 100vh;
    width: 100%;
    margin: 0px;
    overflow-x:hidden;
    position: relative;
    font-family: 'Architects Daughter', cursive;
    background-color: #dedede;
    
}
.main{
    display: flex;
    width: 100%;
    position: relative;
    height:100vh;
    align-items: flex-end;
    .frame{
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        align-items: center;
        width: 100%;
        height: 25%;
        position: absolute;
        top: 0;
        left: 0;
        h1{
            color: black;
            font-size: 6vw;
            font-weight: bolder;
        }
        h5{
            color: grey;
            font-size: 1.5vw;
        }
    }

}

.container{
    display: flex;
    align-items: flex-end;
    height:100%;
    flex-wrap: nowrap;
    position: relative;
    overflow: scroll;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 9999999;
    scroll-behavior: smooth;
    .numbers{
        display: flex;
        width: 100%;
        
        position: absolute;
        top: 25vh;
        left: 40vw;
        h1{
            margin:0 83px;
            font-size:43px;
            font-weight: bold;

            color: grey;
            &:last-child{
                margin: 0 110px;
            }
        }
    }
    .items{
    display: flex;
    align-items: flex-end;
    height:100%;
    flex-wrap: nowrap;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 9999999;

    .titleleft{
        width: 40vw;
        height:100%;
        display: flex;
        align-items:flex-end;
        ul{
            list-style:none;
            li{
                font-size: 11vw;
                color: #837e7d;
                font-family: 'Ribeye Marrow', cursive;
            }


        }
        &__body{
            margin-left:70px;
        }
    }

    .titleright{
        width: 40vw;
        height:100%;
        display: flex;
        align-items:flex-end;
        ul{
            list-style:none;
            li{
               
                color: #837e7d;
                font-family: 'Ribeye Marrow', cursive;
                
            }


        }
        &__main{
            font-size: 11vw;
        }
        &__body{
            margin-left:50px;
            font-size: 9vw;
        }
        
    }
    }

}
    
.item {
    width: 250px;
    height: 350px;
     transform-origin: bottom;
    transition: all .3s linear;
    display: flex;
    align-items: flex-end;
    margin: 0 -15px;
    position: relative;
  
    
}

.item img {
    width: inherit;
    height: 300px;
    object-fit: cover;
}

.cursor {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(182, 16, 16);
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 99999999;
  }


  @media only screen and (max-device-width:556px){
    .main{
        
        .frame{
                
            h1{
                
                font-size: 10vw;
                
            }
            h5{
                
                font-size: 5vw;
            }
        }
    
    }
    
    .container{
        height: 100%;
        .numbers{
            display: flex;
            width: 100%;
            
            position: absolute;
            top: 70% !important;
            left: 40vw;
            h1{
                font-size:43px;
                font-weight: bold;
                color: grey;
                margin: 0 54px;
                &:last-child{
                    margin: 0 60px;
                }
                
            }
        }

        .items{
            display: flex;
            align-items: flex-end;
            height:100%;
            flex-wrap: nowrap;
            cursor: pointer;
            transition: 0.3s ease;
            z-index: 9999999;
        
            .titleleft{
                width: 40vw;
                height:100%;
                display: flex;
                align-items:flex-end;
                ul{
                    list-style:none;
                    li{
                        font-size: 13vw;
                        color: #837e7d;
                        font-family: 'Ribeye Marrow', cursive;
                    }
        
        
                }
                &__body{
                    margin-left:0;
                }
            }
        
            .titleright{
                width: 40vw;
                height:100%;
                display: flex;
                align-items:flex-end;
                ul{
                    list-style:none;
                    li{
                       
                        color: #837e7d;
                        font-family: 'Ribeye Marrow', cursive;
                        
                    }
        
        
                }
                &__main{
                    font-size: 13vw;
                }
                &__body{
                    margin-left:50px;
                    font-size: 11vw;
                }
                
            }
            }

       }
    
    .item{
        width: 150px !important;
        margin: 0 5px;
        transform: scale(1) !important;
    }
        
    .item img {
        
        height: 200px !important;
       
    }

    
    
    }
      
  


  @media only screen and (max-device-width:882px) and (min-device-width:557px){
    .main{
        
        .frame{
            
            h1{
                
                font-size: 8vw;
                
            }
            h5{
                
                font-size: 3vw;
            }
        }
    
    }
    
    .container{
        .numbers{
            display: flex;
            width: 100%;
            
            position: absolute;
            top: 20vh;
            left: 40vw;
            h1{
                font-size:40px;
                font-weight: bold;
                color: grey;
                margin: 0 70px;
                &:last-child{
                    margin: 0 100px;
                }
                
            }
        }
       }
    
    .item{
        width: 230px;
        margin: 0 -20px;
    }
        
    .item img {
        
        height: 270px
       
    }
      
  }

  @media only screen and (min-device-width:1400px){
   .container{
    .numbers{
        display: flex;
        width: 100%;
        
        position: absolute;
        top: 40vh;
        left: 40vw;
        h1{
            margin:0 6.5vw ;
            font-size:43px;
            font-weight: bold;

            color: grey;
            &:last-child{
                margin: 0 10vw;
            }
            
        }
    }
   }
.item{
    width: 18.5vw;
}
    
.item img {
    
    height: 19vw
   
}
  }


  @media only screen and (min-device-width:1600px) and (max-device-width:1769px){
    .container{
     .numbers{
         display: flex;
         width: 100%;
         
         position: absolute;
         top: 50vh;
         left: 40vw;
         h1{
             margin:0 6.5vw ;
             font-size:43px;
             font-weight: bold;
 
             color: grey;
             &:last-child{
                 margin: 0 10vw;
             }
             
         }
     }
    }
 .item{
     width: 18vw;
 }
     
 .item img {
     
     height: 21vw
    
 }
   }

   @media only screen and (min-device-width:1770px) and (max-device-width:2099px){
    .container{
     .numbers{
         
         position: absolute;
         top: 50vh;
         left: 40vw;
         h1{
             margin:0 7vw ;
             
            
             
         }
     }
    }
 
   }

   @media only screen and (min-device-width:2100px){
    .container{
     .numbers{
         
         position: absolute;
         top: 50vh;
         left: 40vw;
         h1{
             margin:0 7.5vw !important;
             
            
             
         }
     }
    }
 
   }

   @media only screen and (min-device-height:300px) and (max-device-width:649px){
    .container{
        .numbers{
            
            position: absolute;
            top: 35% !important;
            left: 40vw;
            
        }
       }
    
      
   }


   @media only screen and (min-device-height:650px){
    .container{
        .numbers{
            
            position: absolute;
            top: 39%;
            left: 40vw;
            
        }
       }
    
      
   }

   @media only screen and (min-device-height:800px){
    .container{
        .numbers{
            
            position: absolute;
            top: 50%;
            left: 40vw;
            
        }
       }
    
      
   }

  

