.Services {
  width: 100%;
  padding: 9rem 2% 0 2%;
}

.Services h1 {
  text-align: center;
  font-weight: 600;
  font-size: 6rem;
  color: white;
  margin-bottom: 7rem;
  margin-top: 11rem;
}

.Services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2vw;
  margin-bottom: 5rem;
}
