* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: scroll;
}

main .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1900px;
  height: 100%;
  position: relative;
}

main .slider .item {
  position: relative;
  width: 250px;
  height: 400px;
  margin: 0 10px;
  background-color: brown;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

main .slider .item .it {
  width: 150px;
  height: 200px;
  background-color: aqua;
  position: absolute;
  bottom: 0;
}
